{% extends 'base.html' %}
{% load my_tags %}

{% block title %}
个人中心 - 大学易
{% endblock %}


{% block mainbody %}
<div class='last_right_div'>
    <div id='index_up'>
        <div id='index_upleft' class='pull-left' >
            <table>
                <tr> 
                    <td id='avtar_td'>
                        {% ifequal user.avatar 'img/avatar.png'%}
                             <img src='{{STATIC_URL}}img/avatar.png'  height="200" class="img-circle" alt='用户头像'/>                         
                        {% else %}
                             <img src='{{MEDIA_URL}}{{user.avatar}}'  height="200" class="img-circle" alt='用户头像'/>
                        {% endifequal %}
                    </td>
                    <td>
                        <table class='table'>
                          <tr>
                            <td>昵称</td>
                            <td>
                                <div class='pull-left'>
                                <a class='hand_over' data-toggle="modal" data-target="#change_nicname_modal">{{user.nic_name}}</a>
                                </div>
                            </td>
                          </tr>
                          <tr>
                            <td>等级</td><td><div class='pull-left'>
								{% for info in user.user_info_set.all %}
									{{ info.grade }}
								{% endfor %}</div></td>
                          </tr>
                          <tr>
                            <td>永载史册</td><td><div class='pull-left'>{{user.first_value}}次</div></td>
                          </tr>
                          <tr>
                            <td><img src='{{STATIC_URL}}img/moneybag2.png' height="32" alt='易币图片'/></td>
                            <td><div class='pull-left'>{{user.money}}易币</div></td>
                          </tr>                   
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <button class='btn' id='avatar_btn'>更改头像</button>
                        <form id='avatar_form' class='form-group' action='/index/uploadavatar/' enctype="multipart/form-data" method='POST'> 
                            {% csrf_token %}
                            <table>
                                {{ form.as_table }}
                            </table>                           
                            <button class="btn btn-default" id='' type="submit">提交</button>
                        </form>                       
                    </td>
                    
                </tr>
            </table>
        </div>
        <div id='index_upright' class='pull-left'>
			{% if user.honour_set.all %}
				{% for honour in user.honour_set.all %}
					<img width='55px' src='{{STATIC_URL}}img/honour/{{honour.img}}'/>
				{% endfor %}
			{% endif %}
        </div>
    </div>
    <div class='clear_both' id='index_down'>
        <div id='index_downleft' class='pull-left'>
            <div>            
                <div id='index_credit_head' class="alert alert-info">                                
                    <p class='text-center'>历年成绩</p>
                </div>
                {% if credits %}
                    {% if message %}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>Message：</strong><span class='font-red'>{{ message}}</span>
							{% if no_refresh %}
								<p><strong>Warning：</strong>
								当前请不要刷新页面或者点击下一页，否者会造成数据的重复提交而引发错误！转到任意页面并返回后可恢复正常。
								</p>
							{% endif %}
                        </div>
                    {% endif %}
                    <div id='index_credit_div' >
                        <table class='table table-bordered table-hover'>
                            <tr>
                                <th>课程名</th>
                                <th>任课老师</th>
                                <th>课程属性</th>
                                <th>学分</th>
                                <th>成绩</th>
                                <th>是否评价</th>
                            </tr>
                            {% for credit in credits %}
                            <tr>
                                <td><a href='/eot/showcredit/{{credit.id}}/'>{{ credit.course_name }}</a></td>
                                <td id='{{credit.id}}'>
                                    {% ifequal credit.add_money 0 %}
                                    <button class=' btn btn_edit_teacher'>                           
                                        {% if credit.course_teacher %}
                                            {{ credit.course_teacher }}
                                        {% else %}
                                            +
                                        {% endif %}
                                    </button>
                                    {% else %}
                                        {{ credit.course_teacher }}
                                    {% endifequal %}
                                </td>                               
								{% ifequal this_school_code 'jxufe' %}
									{% ifequal credit.add_money 0 %}
										<td id='{{credit.id}}a' data-toggle="tooltip" title="填必修或非必修" class='tooltip_th'>
											<button class='btn btn_edit_attr'>                           
												{% ifequal credit.course_attr '' %}
													+
												{% else %}
													{{ credit.course_attr }}
												{% endifequal %}
											</button>
										</td>
									{% else %}
										<td>{{ credit.course_attr }}</td>
									{% endifequal %}
								{% else %}
									<td>{{ credit.course_attr }}</td>
								{% endifequal %}
                                <td class='num_credit_1'>{{ credit.course_credit }}</td>
                                <td>{{ credit.course_score }}</td>
                                <td>
                                    {% ifequal credit.add_money 0 %}
                                        <a  href='/eot/value/{{ credit.id }}/'><span class="glyphicon glyphicon-hand-right"></span> 去评价</a>
                                    {% else %}                           
                                        +{{ credit.add_money }}
                                        <img src='{{STATIC_URL}}img/moneybag2.png' height="27" alt='易币图片'/>
                                    {% endifequal %}
                                </td>
                            </tr>
                           {% endfor %}
                        </table>
                    </div>
                {% else %}
				 <p>&nbsp;<p/>
                 <p class='text-info text-center'>你还没有添加课程数据，赶快添加吧！</p>
                {% endif %}
            </div>
            {% if credits %}
            <div class='pull-right'>
               <ul class="pagination">
                {% if credits.has_previous %}                           
                    <li><a href="?page={{ credits.previous_page_number }}#index_downleft">&lt; 上一页</a></li>                           
                {% endif %}                           
                    {% for p in credits_page_range %}
                        
                        {% ifequal p credits.number %}
                             <li><span class="current">{{p}}</span></li>
                        {% else %}
                            <li><a href="?page={{p}}#index_downleft" title="第{{p}}页">{{p}}</a></li>
                        {% endifequal %}
                        
                    {% endfor %}
                    
                {% if credits.has_next %}
                    <li><a href="?page={{ credits.next_page_number }}#index_downleft">下一页 &gt; </a></li>
                {% endif %}
                    <li><a >[第{{ credits.number }}/{{ credits.paginator.num_pages }}页]</a></li>
              </ul>
            </div>
            {% endif %}
			{% ifequal school_type 'URP' %}
			<div class='clear_both'>
				<button class='btn' id='URP_btn'>访问数据库，更新课程信息</button>				
				<div id='URP_form'>
					<p class='text-danger'>如果您是大一上学期，数据库中还没有您的数据，请勿使用此功能。</p>
					<p>输入您学生教务系统的账号和密码，大学易将为您抓取新的课程数据。ps.大学易不会保存您的账号和密码</p>
					<form class='form-group' action='/index/URP_getCredit/' method='POST' autocomplete="on"> 
						{% csrf_token %}
						<div class='form-group'>
							<label>账号</label>
							<input type="text"  class='form-control width_20' id='getCredit_zh' name='zh' placeholder="" required>
						</div>
						<div class='form-group'>
							<label>密码</label>
								<input type="password"  class='form-control width_20' id='getCredit_mm' name='mm' placeholder="" required>
							<span id='register_check_URP'></span>
						</div>			
						<div class='form-inline'>
							<button class="btn btn-block btn-success register-next-btn" id='register_btn' type="submit">提交</button>
							
						</div>
						
					</form>
				</div>
			</div>
			{% endifequal %}			
			{% ifequal school_type 'wise' %}
			<div class='clear_both'>
				<button class='btn' id='wise_btn'>上传源代码文件，更新课程信息</button>
				<div id='wise_form'>
					<p>上传符合要求的带有期末成绩的源代码页面，大学易即会分析获取新的课程数据。</p>
					<p>&nbsp;</p>
					<h4>上传网页源代码文件</h4>
					<div>
						<form role="form" id='' class='' action='/index/wise_getCredit/{{this_school_code}}/' enctype="multipart/form-data" method='POST'> 
							{% csrf_token %}
							<input type="file"  class='pull-left' id='getCredit_file' name='credit_file' required>
							<button class="pull-left" id='uploadCreditFile_btn' type="submit">提交</button>
						</form>				
					</div>
					<div class='clear_both' id='div_guideToCreditFile'>
						<p><a target='_blank' href='/business/guide/getCreditFile/{{this_school_code}}/'>『{{school}}』的学生如何获取符合要求的源代码文件？（新手必读）</a></p>
					</div>
				</div>
			</div>
			{% endifequal %}
            
        </div>
        <div id='index_downright' class='pull-right'>
            <div class='panel panel-danger'>
                <div id='heading_wise_add' class="panel-heading">添加任课老师</div>
                <div class="panel-body">
                    {% if credits %}
                    <div>
                        <button id='add_course' data-toggle="modal" data-target="#hand_add_explain" class= 'btn btn-success'>
                            手工添加
                        </button>
                        
                    </div>
                    <div id='wise_add_teacher_div'>
                        <a id='wise_add_button_link' href='/index/wise_teacher/'>
                           <button class='btn btn-success'>
                               智能添加
                           </button>
                        </a>
                        <button type="button" data-toggle="modal" data-target="#what_wise_add" class="btn btn-link add_button_info">
                            什么是智能添加？
                        </button>
                    </div>
                    {% else %}
                    <p class='text-info text-center'>你还没有课程数据，不能进行此项操作</p>
                    {% endif %}
                </div>       
            </div>
            <div class='panel panel-danger'>
                <div id='heading_value_eot' class="panel-heading">点评课程</div>
                <div class="panel-body">
                    {% if credits %}
                    <div>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;您需要填写完任课教师后，才可以去评教~</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;评教不但可以获得<span class='font-red'>易币奖励</span>，更有机会<span class='font-red'>名留青史</span>哦！</p>
                    </div>
                    <div>
                        <button type="button" data-toggle="modal" data-target="#value_info_modal" class="btn btn-link add_button_info">
                            查看详情
                        </button>
                    </div>
                    {% else %}
                    <p class='text-info text-center'>你还没有课程数据，不能进行此项操作</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</div>    
    
  
<!-- Modal -->
<div class="modal fade" id="hand_add_explain" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div id='modal_1' class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">手工添加课程<span id='wise_modal_header'></span></h4>
      </div>
      <div class="modal-body">
          <div id='modal_table_wise_div'>
               <p class="text-primary">
                    &nbsp;&nbsp;&nbsp;&nbsp;点击对应课程中的+号项即可为课程添加任课老师，对于外籍教师，除非有公认的中文名，否则应该填写英文名全称。                   
                    如果您误写了任课老师的名字，在未评教前，您可以点击对应的老师来更改。
                    在评教后，您将无法再更改任课老师。
               </p>
               <p class="text-danger">
                  &nbsp;&nbsp;&nbsp;&nbsp;手工添加可以精确的添加任课老师，当需要添加少量任课老师时，大学易推荐你使用此方法。  
               </p>
          </div>
          <div class='modal_sure_btn'>
             <button  type="button" data-dismiss="modal" class="btn btn-success btn-block" >我知道了</button>
          </div>
      </div>         
   </div><!-- /.modal-content -->
 </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
   
<!-- Modal -->
<div class="modal fade" id="what_wise_add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div id='modal_1' class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">智能添加教师<span id='wise_modal_header'></span></h4>
      </div>
      <div class="modal-body">
          <div id='modal_table_wise_div'>
               <p class="text-primary">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;智能添加可以便捷地添加任课老师，当您点击此按钮时，大学易将会查找
                    往届学长学姐提供的数据，并自动为您添加。由于时间关系，您的情况可能和往届学长学姐的提供的数据有所不同，您可以点击对应的
                  任课老师来进一步修改。
               </p>
               <p class="text-danger">
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  当需要添加大量任课老师时，大学易推荐你使用此方法。  
               </p>
          </div>
          <div class='modal_sure_btn'>
             <button  type="button" data-dismiss="modal" class="btn btn-success btn-block" >我知道了</button>
          </div>
      </div>
      
   </div><!-- /.modal-content -->
 </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
   
<!-- Modal -->
<div class="modal fade" id="value_info_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div id='modal_1' class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">点评课程<span id='wise_modal_header'></span></h4>
      </div>
      <div class="modal-body">
          <div id='modal_table_wise_div'>
               <p class="text-primary">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;确保课程信息正确后，点击对应的“去评价”即可点评课程。
               </p>
               <p class="text-danger">
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  成功点评课程即可获得易币奖励。您在帮助无数学弟学妹选择课程的同时，更有机会被永载史册，赶快尝试一下吧 ！ 
               </p>
          </div>
          <div class='modal_sure_btn'>
             <button  type="button" data-dismiss="modal" class="btn btn-success btn-block" >马上去试试</button>
          </div>
      </div>
      
   </div><!-- /.modal-content -->
 </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal -->
<div class="modal fade" id="change_nicname_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div id='modal_1' class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">更改昵称<span id='wise_modal_header'></span></h4>
      </div>
      <div class="modal-body">
         <div>
            <p class='text-info'>基于唯一性和辨识性的考虑，大学易倡导使用真实姓名，当然，你也可以随心所欲的取昵称：）</p>
         </div>
         <div class='container'>
            <p>您现在的昵称为：{{user.nic_name}}</p>
            <label>请输入您想要的昵称（10字以内）：</label>
            <div class='form-group'>
                <p>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class='font-red' id='wrong_nicname'></span>
                </p>
                <input id='nic_name_input' type="text"  class='form-control' id ='nic_name' name='nic_name' placeholder="" required>
            </div>
         </div>
         <div class='modal_sure_btn'>
             <button  id='change_nicname_btn' type="button" class="btn btn-success " >确认更改</button>
             <button  type="button" data-dismiss="modal" class="btn btn-danger" >取消</button>
         </div>
      </div>
      
   </div><!-- /.modal-content -->
 </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

    
    
   
{% endblock %}