{% extends 'base.html' %}
{% load my_tags %}

{% block title %}
个人中心 - 方遒
{% endblock %}

{% block moreCSS %}
<link href="{{STATIC_URL}}css/bodyCss.css" rel="stylesheet" media="screen">
<link href="{{STATIC_URL}}kindeditor-4.1.10/plugins/code/prettify.css" rel="stylesheet" media="screen">
<link href="{{STATIC_URL}}css/kindeditorImg2.css" rel="stylesheet" media="screen">
{% endblock %}
	
{% block mainbody %}
<div class='last_right_div' style='padding: 0 15px;'>
    <div id='index_up' class='row PL_1px'>
		<div id='index_upleft' class='col-md-3 col-xs-12 col-md-offset-1'>    
			<table id='index_infoTable'>
				<tr> 
					<td id='avtar_td'>
						<div class='nailthumb-container bigAvatar-square-thumb'>
						{% ifequal user.avatar 'img/avatar.png'%}
							 <img src='{{STATIC_URL}}img/avatar.png' alt='用户头像'/>                         
						{% else %}
							 <img src='{{MEDIA_URL}}{{user.avatar}}' alt='用户头像'/>
						{% endifequal %}
						</div>
					</td>
					<td>
						<table class='table'>
						  <tr>
							<td>昵称</td>
							<td>
								<div class='pull-left'>
								<a id='{{user.id}}' class='hand_over ID_card'>{{user.nic_name}}</a>
								</div>
							</td>
						  </tr>
						  <tr>
							<td>等级</td><td><div class='pull-left'>
								{% for info in user.user_info_set.all %}
									{{ info.grade }}
								{% endfor %}</div></td>
						  </tr>
						  <tr>
							<td>赞同</td><td><div class='pull-left'>{{user.agree_num}}&nbsp;次</div></td>
						  </tr>
						  <tr>
							<td><img src='{{STATIC_URL}}img/moneybag2.png' height="32" alt='易币图片'/></td>
							<td><div class='pull-left'>{{user.money}}易币</div></td>
						  </tr>                   
						</table>
					</td>
				</tr>												
			</table>
		</div>
    </div>
    <div class='clear_both row PL_1px' id='index_down'>
        <div id='index_downMain' class='col-md-8 col-xs-12 col-md-offset-1'>
			<ul class="nav nav-tabs">
			  <li class='active'><a href="#Feeds" data-toggle="tab">动态</a></li>
			  <li><a href="#myWatch" data-toggle="tab">我的关注</a></li>
			</ul>

		<!-- Tab panes -->
			<div class="tab-content">
			  <div class="tab-pane fade in active" id="Feeds">
				<div id='feeds_middel'>
					<div id='relatedDiv' class='showBlock'>
						{% if Feeds %}
						{% for feed in Feeds %}
							<div class='bcColorWhite feedsDiv'>
								<div class='feedsDivTop'>
									<div class='clear_both'>
										<div class='pull-left feedsDivAvatar nailthumb-container smallAvatar-square-thumb'>
											{% ifequal feed.creator.avatar 'img/avatar.png' %}									
												<img src='{{STATIC_URL}}img/avatar.png/' class="img-responsive MB_5px" alt='用户头像'/>																			
											{% else %}									
												<img src='{{MEDIA_URL}}{{feed.creator.avatar}}' class="img-responsive MB_5px" alt='用户头像'/>										
											{% endifequal %}
										</div>
										<div class='pull-left feedsDivCreatorInfo'>
											<div id='{{feed.creator.id}}' class='feedsDivCreatorInfo1 hand_over ID_card font-color-link'>{{feed.creator.nic_name}}
												<span class='font-grey'>
												{% ifequal feed.type 'followNews' %}
												&nbsp;&nbsp;分享&nbsp;
												{% endifequal %}
												{% ifequal feed.type 'newsVoteUp' %}
												&nbsp;&nbsp;顶了你的分享&nbsp;
												{% endifequal %}
												{% ifequal feed.type 'newsComment' %}
												&nbsp;&nbsp;评论&nbsp;
												{% endifequal %}
												{% ifequal feed.type 'newsGiveGold' %}
												&nbsp;&nbsp;<span>为你的分享<span class='font-jin'>镀金</span></span>&nbsp;
												{% endifequal %}
												{% ifequal feed.type 'FComment1Reply' %}
												&nbsp;&nbsp;<span>回复了你的评论</span>&nbsp;
												{% endifequal %}
												{% ifequal feed.type 'FComment2Reply' %}
												&nbsp;&nbsp;<span>回复了你的评论</span>&nbsp;
												{% endifequal %}
												{% ifequal feed.type 'FComment3Reply' %}
												&nbsp;&nbsp;<span>回复了你的评论</span>&nbsp;
												{% endifequal %}
												{% ifequal feed.type 'comment1GiveGold' %}
												&nbsp;&nbsp;<span>为你的评论<span class='font-jin'>镀金</span></span>&nbsp;
												{% endifequal %}
												{% ifequal feed.type 'comment2GiveGold' %}
												&nbsp;&nbsp;<span>为你的评论<span class='font-jin'>镀金</span></span>&nbsp;
												{% endifequal %}
												{% ifequal feed.type 'comment3GiveGold' %}
												&nbsp;&nbsp;<span>为你的评论<span class='font-jin'>镀金</span></span>&nbsp;
												{% endifequal %}
												{% ifequal feed.type 'comment4GiveGold' %}
												&nbsp;&nbsp;<span>为你的评论<span class='font-jin'>镀金</span></span>&nbsp;
												{% endifequal %}
												</span>
											</div>
											<div class='feedsDivCreatorInfo2'><small class='font-grey'>{% showDay feed.time %}&nbsp;{% showTimeHM feed.time %}</small></div>
										</div>
									</div>
									{% ifequal feed.type 'newsComment' %}
									<div class='clear_both MB_5px'>
										{% autoescape off %}{{feed.comment.words}}{% endautoescape %}
									</div>
									{% endifequal %}
									{% if 'GiveGold' in feed.type %}
									<div class='clear_both MB_5px'>
										+{{feed.gold_num}}
									</div>
									{% endif %}
								</div>
								<div class='clear_both feedsDivBottom'>
									<div id='{{feed.news.ups}};{{feed.news.downs}};{{feed.news.score}}' class='pull-left hand_over newsScoreInfo MR_9px' >
										{% for info in user.user_info_set.all %}
											{% if info.upVoted_news %}
												{% ifintInstr feed.news.id info.upVoted_news %}	
													<div id='' class='newsUpVote2 hidden'></div>
													<div id='' class='newsUpVoted2'></div>
												{% else %}
													<div id='' class='newsUpVote2'></div>
													<div id='' class='newsUpVoted2 hidden'></div>
												{% endifintInstr %}
											{% else %}
												<div id='' class='newsUpVote2'></div>
												<div id='' class='newsUpVoted2 hidden'></div>
											{% endif %}
											<div class='{% newsScoreClass info feed.news %}'>{{feed.news.score}}</div>
											{% if info.downVoted_news %}
												{% ifintInstr feed.news.id info.downVoted_news %}
													<div id='' class='newsDownVote2 hidden'></div>
													<div id='' class='newsDownVoted2'></div>
												{% else %}
													<div id='' class='newsDownVote2'></div>
													<div id='' class='newsDownVoted2 hidden'></div>
												{% endifintInstr %}
											{% else %}
												<div id='' class='newsDownVote2'></div>
												<div id='' class='newsDownVoted2 hidden'></div>
											{% endif %}
										{% endfor %}
									</div>
									
									<div class='PT_8px'>
										{% ifequal feed.news.type 'link' %}
										<a class='news_title' target='_blank' href='{{feed.news.link}}'>{{feed.news.title}}</a>
										{% else %}
										<a class='news_title' href='/news/{{feed.news.newspart.part}}/new/showNews/{{feed.news.id}}/'>{{feed.news.title}}</a>
										{% endifequal %}
									</div>
									<div>
										<small>{% showNewsTime feed.news %}前&nbsp;由&nbsp;&nbsp;
										<a class='shallowLink'>{{feed.news.user.nic_name}}</a>&nbsp;&nbsp;分享到&nbsp;
										<a class='shallowLink' href='/news/{{feed.news.newspart.part}}/hot/'>
											{{feed.news.newspart.part}}/{{feed.news.newspart.realPart}}
										</a></small>
									</div>
									<ul class='list-inline list-unstyled MB_0px'>
										<li><a href='/news/{{feed.news.newspart.part}}/new/showNews/{{feed.news.id}}/'><small class='font-grey'>{% ifnotequal feed.news.comment_num 0 %}{{feed.news.comment_num}}&nbsp;{% endifnotequal %}评论</small></a></li>
										<li><small class='font-grey'>镀金{{feed.news.gold}}</small></li>
										<li><i><small class='font-grey'>{{feed.news.type}}</small></i></li> 
									</ul>
									{% ifequal feed.type 'FComment1Reply' %}
									<div class='clear_both'>
										<table class='indexCommentTable1'>
											<tr><td><div class='MR_9px'>
											{% for info in user.user_info_set.all %}
												{% if info.upVoted_comment1 %}
													{% ifintInstr feed.newscomment1.id info.upVoted_comment1 %}	
														<div id='newscomment1;{{feed.newscomment1.id}}' style='display:none' class='commentUpVote2 hand_over'></div>
														<div id='newscomment1;{{feed.newscomment1.id}}' class='commentUpVoted2 hand_over'></div>
													{% else %}
														<div id='newscomment1;{{feed.newscomment1.id}}' class='commentUpVote2 hand_over'></div>
														<div id='newscomment1;{{feed.newscomment1.id}}' style='display:none' class='commentUpVoted2 hand_over'></div>
													{% endifintInstr %}
												{% else %}
													<div id='newscomment1;{{feed.newscomment1.id}}' class='commentUpVote2 hand_over'></div>
													<div id='newscomment1;{{feed.newscomment1.id}}' style='display:none' class='commentUpVoted2 hand_over'></div>
												{% endif %}
												{% if info.downVoted_comment1 %}
													{% ifintInstr feed.newscomment1.id info.downVoted_comment1 %}
														<div id='newscomment1;{{feed.newscomment1.id}}' style='display:none' class='commentDownVote2 hand_over'></div>
														<div id='newscomment1;{{feed.newscomment1.id}}' class='commentDownVoted2 hand_over'></div>
													{% else %}
														<div id='newscomment1;{{feed.newscomment1.id}}' class='commentDownVote2 hand_over'></div>
														<div id='newscomment1;{{feed.newscomment1.id}}' style='display:none' class='commentDownVoted2 hand_over'></div>
													{% endifintInstr %}
												{% else %}
													<div id='newscomment1;{{feed.newscomment1.id}}' class='commentDownVote2 hand_over'></div>
													<div id='newscomment1;{{feed.newscomment1.id}}' style='display:none' class='commentDownVoted2 hand_over'></div>
												{% endif %}
											{% endfor %}</div>
											</td>
											<td>
												<div class='font-grey'><small>{{feed.newscomment1.user.nic_name}}&nbsp;&nbsp;<span id='newscomment1Score_{{feed.newscomment1.id}}' >{{feed.newscomment1.score}}</span>赞同&nbsp;&nbsp;{% showNewsTime feed.newscomment1 %}前</small></div>
												<div class='wordsColor'>{% autoescape off %}{{ feed.newscomment1.words}}{% endautoescape %}</div>
												<div>
													<ul class='list-inline list-unstyled'>
														<li><span class='font-grey'>
															<small>镀金<span>{{feed.newscomment1.gold}}</span></small>&nbsp;
															</span>
														</li>
														<li><span class='font-grey'><small>回复</small></span></li>
													</ul>
												</div>
											</td>	
										</tr>
										</table>
										<table class='indexCommentTable2'>
											<tr><td><div class='MR_9px'>
											{% for info in user.user_info_set.all %}
												{% if info.upVoted_comment2 %}
													{% ifintInstr feed.comment2.id info.upVoted_comment2 %}	
														<div id='newscomment2;{{feed.comment2.id}}' style='display:none' class='commentUpVote2 hand_over'></div>
														<div id='newscomment2;{{feed.comment2.id}}' class='commentUpVoted2 hand_over'></div>
													{% else %}
														<div id='newscomment2;{{feed.comment2.id}}' class='commentUpVote2 hand_over'></div>
														<div id='newscomment2;{{feed.comment2.id}}' style='display:none' class='commentUpVoted2 hand_over'></div>
													{% endifintInstr %}
												{% else %}
													<div id='newscomment2;{{feed.comment2.id}}' class='commentUpVote2 hand_over'></div>
													<div id='newscomment2;{{feed.comment2.id}}' style='display:none' class='commentUpVoted2 hand_over'></div>
												{% endif %}
												{% if info.downVoted_comment2 %}
													{% ifintInstr feed.comment2.id info.downVoted_comment2 %}
														<div id='newscomment2;{{feed.comment2.id}}' style='display:none' class='commentDownVote2 hand_over'></div>
														<div id='newscomment2;{{feed.comment2.id}}' class='commentDownVoted2 hand_over'></div>
													{% else %}
														<div id='newscomment2;{{feed.comment2.id}}' class='commentDownVote2 hand_over'></div>
														<div id='newscomment2;{{feed.comment2.id}}' style='display:none' class='commentDownVoted2 hand_over'></div>
													{% endifintInstr %}
												{% else %}
													<div id='newscomment2;{{feed.comment2.id}}' class='commentDownVote2 hand_over'></div>
													<div id='newscomment2;{{feed.comment2.id}}' style='display:none' class='commentDownVoted2 hand_over'></div>
												{% endif %}
											{% endfor %}</div>
											</td>
											<td>
												<div class='font-grey'><small>{{feed.comment2.user.nic_name}}&nbsp;&nbsp;<span id='newscomment2Score_{{feed.comment2.id}}' >{{feed.comment2.score}}</span>赞同&nbsp;&nbsp;{% showNewsTime feed.comment2 %}前</small></div>
												<div class='wordsColor'>{% autoescape off %}{{ feed.comment2.words}}{% endautoescape %}</div>
												<div>
													<ul class='list-inline list-unstyled'>
														<li><a id='newscomment2;{{feed.comment2.id}};{{feed.comment2.gold}}' class='giveGold font-grey hand_over'>
															<small>镀金<span id='newscomment2_goldNum_{{feed.comment2.id}}'>{{feed.comment2.gold}}</span></small>&nbsp;
															</a>
														</li>
														<li><span class='font-grey'><small>回复</small></span></li>
													</ul>
												</div>
											</td>	
										</tr>
										</table>
									</div>
									{% endifequal %}
									{% ifequal feed.type 'FComment2Reply' %}
									<div class='clear_both'>
										<table class='indexCommentTable1'>
											<tr><td><div class='MR_9px'>
											{% for info in user.user_info_set.all %}
												{% if info.upVoted_comment2 %}
													{% ifintInstr feed.newscomment2.id info.upVoted_comment2 %}	
														<div id='newscomment2;{{feed.newscomment2.id}}' style='display:none' class='commentUpVote2 hand_over'></div>
														<div id='newscomment2;{{feed.newscomment2.id}}' class='commentUpVoted2 hand_over'></div>
													{% else %}
														<div id='newscomment2;{{feed.newscomment2.id}}' class='commentUpVote2 hand_over'></div>
														<div id='newscomment2;{{feed.newscomment2.id}}' style='display:none' class='commentUpVoted2 hand_over'></div>
													{% endifintInstr %}
												{% else %}
													<div id='newscomment2;{{feed.newscomment2.id}}' class='commentUpVote2 hand_over'></div>
													<div id='newscomment2;{{feed.newscomment2.id}}' style='display:none' class='commentUpVoted2 hand_over'></div>
												{% endif %}
												{% if info.downVoted_comment2 %}
													{% ifintInstr feed.newscomment2.id info.downVoted_comment2 %}
														<div id='newscomment2;{{feed.newscomment2.id}}' style='display:none' class='commentDownVote2 hand_over'></div>
														<div id='newscomment2;{{feed.newscomment2.id}}' class='commentDownVoted2 hand_over'></div>
													{% else %}
														<div id='newscomment2;{{feed.newscomment2.id}}' class='commentDownVote2 hand_over'></div>
														<div id='newscomment2;{{feed.newscomment2.id}}' style='display:none' class='commentDownVoted2 hand_over'></div>
													{% endifintInstr %}
												{% else %}
													<div id='newscomment2;{{feed.newscomment2.id}}' class='commentDownVote2 hand_over'></div>
													<div id='newscomment2;{{feed.newscomment2.id}}' style='display:none' class='commentDownVoted2 hand_over'></div>
												{% endif %}
											{% endfor %}</div>
											</td>
											<td>
												<div class='font-grey'><small>{{feed.newscomment2.user.nic_name}}&nbsp;&nbsp;<span id='newscomment2Score_{{feed.newscomment2.id}}' >{{feed.newscomment2.score}}</span>赞同&nbsp;&nbsp;{% showNewsTime feed.newscomment2 %}前</small></div>
												<div class='wordsColor'>{% autoescape off %}{{ feed.newscomment2.words}}{% endautoescape %}</div>
												<div>
													<ul class='list-inline list-unstyled'>
														<li><span class='font-grey'>
															<small>镀金<span>{{feed.newscomment2.gold}}</span></small>&nbsp;
															</span>
														</li>
														<li><span class='font-grey'><small>回复</small></span></li>
													</ul>
												</div>
											</td>	
										</tr>
										</table>
										<table class='indexCommentTable2'>
											<tr><td><div class='MR_9px'>
											{% for info in user.user_info_set.all %}
												{% if info.upVoted_comment3 %}
													{% ifintInstr feed.comment3.id info.upVoted_comment3 %}	
														<div id='newscomment3;{{feed.comment3.id}}' style='display:none' class='commentUpVote2 hand_over'></div>
														<div id='newscomment3;{{feed.comment3.id}}' class='commentUpVoted2 hand_over'></div>
													{% else %}
														<div id='newscomment3;{{feed.comment3.id}}' class='commentUpVote2 hand_over'></div>
														<div id='newscomment3;{{feed.comment3.id}}' style='display:none' class='commentUpVoted2 hand_over'></div>
													{% endifintInstr %}
												{% else %}
													<div id='newscomment3;{{feed.comment3.id}}' class='commentUpVote2 hand_over'></div>
													<div id='newscomment3;{{feed.comment3.id}}' style='display:none' class='commentUpVoted2 hand_over'></div>
												{% endif %}
												{% if info.downVoted_comment3 %}
													{% ifintInstr feed.comment3.id info.downVoted_comment3 %}
														<div id='newscomment3;{{feed.comment3.id}}' style='display:none' class='commentDownVote2 hand_over'></div>
														<div id='newscomment3;{{feed.comment3.id}}' class='commentDownVoted2 hand_over'></div>
													{% else %}
														<div id='newscomment3;{{feed.comment3.id}}' class='commentDownVote2 hand_over'></div>
														<div id='newscomment3;{{feed.comment3.id}}' style='display:none' class='commentDownVoted2 hand_over'></div>
													{% endifintInstr %}
												{% else %}
													<div id='newscomment3;{{feed.comment3.id}}' class='commentDownVote2 hand_over'></div>
													<div id='newscomment3;{{feed.comment3.id}}' style='display:none' class='commentDownVoted2 hand_over'></div>
												{% endif %}
											{% endfor %}</div>
											</td>
											<td>
												<div class='font-grey'><small>{{feed.comment3.user.nic_name}}&nbsp;&nbsp;<span id='newscomment3Score_{{feed.comment3.id}}' >{{feed.comment3.score}}</span>赞同&nbsp;&nbsp;{% showNewsTime feed.comment3 %}前</small></div>
												<div class='wordsColor'>{% autoescape off %}{{ feed.comment3.words}}{% endautoescape %}</div>
												<div>
													<ul class='list-inline list-unstyled'>
														<li><a id='newscomment3;{{feed.comment3.id}};{{feed.comment3.gold}}' class='giveGold font-grey hand_over'>
															<small>镀金<span id='newscomment3_goldNum_{{feed.comment3.id}}'>{{feed.comment3.gold}}</span></small>&nbsp;
															</a>
														</li>
														<li><span class='font-grey'><small>回复</small></span></li>
													</ul>
												</div>
											</td>	
										</tr>
										</table>
									</div>
									{% endifequal %}
									{% ifequal feed.type 'FComment3Reply' %}
									<div class='clear_both'>
										<table class='indexCommentTable1'>
											<tr><td><div class='MR_9px'>
											{% for info in user.user_info_set.all %}
												{% if info.upVoted_comment3 %}
													{% ifintInstr feed.newscomment3.id info.upVoted_comment3 %}	
														<div id='newscomment3;{{feed.newscomment3.id}}' style='display:none' class='commentUpVote2 hand_over'></div>
														<div id='newscomment3;{{feed.newscomment3.id}}' class='commentUpVoted2 hand_over'></div>
													{% else %}
														<div id='newscomment3;{{feed.newscomment3.id}}' class='commentUpVote2 hand_over'></div>
														<div id='newscomment3;{{feed.newscomment3.id}}' style='display:none' class='commentUpVoted2 hand_over'></div>
													{% endifintInstr %}
												{% else %}
													<div id='newscomment3;{{feed.newscomment3.id}}' class='commentUpVote2 hand_over'></div>
													<div id='newscomment3;{{feed.newscomment3.id}}' style='display:none' class='commentUpVoted2 hand_over'></div>
												{% endif %}
												{% if info.downVoted_comment3 %}
													{% ifintInstr feed.newscomment3.id info.downVoted_comment3 %}
														<div id='newscomment3;{{feed.newscomment3.id}}' style='display:none' class='commentDownVote2 hand_over'></div>
														<div id='newscomment3;{{feed.newscomment3.id}}' class='commentDownVoted2 hand_over'></div>
													{% else %}
														<div id='newscomment3;{{feed.newscomment3.id}}' class='commentDownVote2 hand_over'></div>
														<div id='newscomment3;{{feed.newscomment3.id}}' style='display:none' class='commentDownVoted2 hand_over'></div>
													{% endifintInstr %}
												{% else %}
													<div id='newscomment3;{{feed.newscomment3.id}}' class='commentDownVote2 hand_over'></div>
													<div id='newscomment3;{{feed.newscomment3.id}}' style='display:none' class='commentDownVoted2 hand_over'></div>
												{% endif %}
											{% endfor %}</div>
											</td>
											<td>
												<div class='font-grey'><small>{{feed.newscomment3.user.nic_name}}&nbsp;&nbsp;<span id='newscomment3Score_{{feed.newscomment3.id}}' >{{feed.newscomment3.score}}</span>赞同&nbsp;&nbsp;{% showNewsTime feed.newscomment3 %}前</small></div>
												<div class='wordsColor'>{% autoescape off %}{{ feed.newscomment3.words}}{% endautoescape %}</div>
												<div>
													<ul class='list-inline list-unstyled'>
														<li><span class='font-grey'>
															<small>镀金<span>{{feed.newscomment3.gold}}</span></small>&nbsp;
															</span>
														</li>
														<li><span class='font-grey'><small>回复</small></span></li>
													</ul>
												</div>
											</td>	
										</tr>
										</table>
										<table class='indexCommentTable2'>
											<tr><td><div class='MR_9px'>
											{% for info in user.user_info_set.all %}
												{% if info.upVoted_comment4 %}
													{% ifintInstr feed.comment4.id info.upVoted_comment4 %}	
														<div id='newscomment4;{{feed.comment4.id}}' style='display:none' class='commentUpVote2 hand_over'></div>
														<div id='newscomment4;{{feed.comment4.id}}' class='commentUpVoted2 hand_over'></div>
													{% else %}
														<div id='newscomment4;{{feed.comment4.id}}' class='commentUpVote2 hand_over'></div>
														<div id='newscomment4;{{feed.comment4.id}}' style='display:none' class='commentUpVoted2 hand_over'></div>
													{% endifintInstr %}
												{% else %}
													<div id='newscomment4;{{feed.comment4.id}}' class='commentUpVote2 hand_over'></div>
													<div id='newscomment4;{{feed.comment4.id}}' style='display:none' class='commentUpVoted2 hand_over'></div>
												{% endif %}
												{% if info.downVoted_comment4 %}
													{% ifintInstr feed.comment4.id info.downVoted_comment4 %}
														<div id='newscomment4;{{feed.comment4.id}}' style='display:none' class='commentDownVote2 hand_over'></div>
														<div id='newscomment4;{{feed.comment4.id}}' class='commentDownVoted2 hand_over'></div>
													{% else %}
														<div id='newscomment4;{{feed.comment4.id}}' class='commentDownVote2 hand_over'></div>
														<div id='newscomment4;{{feed.comment4.id}}' style='display:none' class='commentDownVoted2 hand_over'></div>
													{% endifintInstr %}
												{% else %}
													<div id='newscomment4;{{feed.comment4.id}}' class='commentDownVote2 hand_over'></div>
													<div id='newscomment4;{{feed.comment4.id}}' style='display:none' class='commentDownVoted2 hand_over'></div>
												{% endif %}
											{% endfor %}</div>
											</td>
											<td>
												<div class='font-grey'><small>{{feed.comment4.user.nic_name}}&nbsp;&nbsp;<span id='newscomment4Score_{{feed.comment4.id}}' >{{feed.comment4.score}}</span>赞同&nbsp;&nbsp;{% showNewsTime feed.comment4 %}前</small></div>
												<div class='wordsColor'>{% autoescape off %}{{ feed.comment4.words}}{% endautoescape %}</div>
												<div>
													<ul class='list-inline list-unstyled'>
														<li><a id='newscomment4;{{feed.comment4.id}};{{feed.comment4.gold}}' class='giveGold font-grey hand_over'>
															<small>镀金<span id='newscomment4_goldNum_{{feed.comment4.id}}'>{{feed.comment4.gold}}</span></small>&nbsp;
															</a>
														</li>
														<li><span class='font-grey'><small>回复</small></span></li>
													</ul>
												</div>
											</td>	
										</tr>
										</table>
									</div>
									{% endifequal %}
									{% ifequal feed.type 'comment1GiveGold' %}
									<div class='clear_both'>
										<table class='indexCommentTable1'>
											<tr><td><div class='MR_9px'>
											{% for info in user.user_info_set.all %}
												{% if info.upVoted_comment1 %}
													{% ifintInstr feed.newscomment1.id info.upVoted_comment1 %}	
														<div id='newscomment1;{{feed.newscomment1.id}}' style='display:none' class='commentUpVote2 hand_over'></div>
														<div id='newscomment1;{{feed.newscomment1.id}}' class='commentUpVoted2 hand_over'></div>
													{% else %}
														<div id='newscomment1;{{feed.newscomment1.id}}' class='commentUpVote2 hand_over'></div>
														<div id='newscomment1;{{feed.newscomment1.id}}' style='display:none' class='commentUpVoted2 hand_over'></div>
													{% endifintInstr %}
												{% else %}
													<div id='newscomment1;{{feed.newscomment1.id}}' class='commentUpVote2 hand_over'></div>
													<div id='newscomment1;{{feed.newscomment1.id}}' style='display:none' class='commentUpVoted2 hand_over'></div>
												{% endif %}
												{% if info.downVoted_comment1 %}
													{% ifintInstr feed.newscomment1.id info.downVoted_comment1 %}
														<div id='newscomment1;{{feed.newscomment1.id}}' style='display:none' class='commentDownVote2 hand_over'></div>
														<div id='newscomment1;{{feed.newscomment1.id}}' class='commentDownVoted2 hand_over'></div>
													{% else %}
														<div id='newscomment1;{{feed.newscomment1.id}}' class='commentDownVote2 hand_over'></div>
														<div id='newscomment1;{{feed.newscomment1.id}}' style='display:none' class='commentDownVoted2 hand_over'></div>
													{% endifintInstr %}
												{% else %}
													<div id='newscomment1;{{feed.newscomment1.id}}' class='commentDownVote2 hand_over'></div>
													<div id='newscomment1;{{feed.newscomment1.id}}' style='display:none' class='commentDownVoted2 hand_over'></div>
												{% endif %}
											{% endfor %}</div>
											</td>
											<td>
												<div class='font-grey'><small>{{feed.newscomment1.user.nic_name}}&nbsp;&nbsp;<span id='newscomment1Score_{{feed.newscomment1.id}}' >{{feed.newscomment1.score}}</span>赞同&nbsp;&nbsp;{% showNewsTime feed.newscomment1 %}前</small></div>
												<div class='wordsColor'>{% autoescape off %}{{ feed.newscomment1.words}}{% endautoescape %}</div>
												<div>
													<ul class='list-inline list-unstyled'>
														<li><span class='font-grey'>
															<small>镀金<span>{{feed.newscomment1.gold}}</span></small>&nbsp;
															</span>
														</li>
														<li><span class='font-grey'><small>回复</small></span></li>
													</ul>
												</div>
											</td>	
										</tr>
										</table>
									</div>
									{% endifequal %}
									{% ifequal feed.type 'comment2GiveGold' %}
									<div class='clear_both'>
										<table class='indexCommentTable1'>
											<tr><td><div class='MR_9px'>
											{% for info in user.user_info_set.all %}
												{% if info.upVoted_comment2 %}
													{% ifintInstr feed.newscomment2.id info.upVoted_comment2 %}	
														<div id='newscomment2;{{feed.newscomment2.id}}' style='display:none' class='commentUpVote2 hand_over'></div>
														<div id='newscomment2;{{feed.newscomment2.id}}' class='commentUpVoted2 hand_over'></div>
													{% else %}
														<div id='newscomment2;{{feed.newscomment2.id}}' class='commentUpVote2 hand_over'></div>
														<div id='newscomment2;{{feed.newscomment2.id}}' style='display:none' class='commentUpVoted2 hand_over'></div>
													{% endifintInstr %}
												{% else %}
													<div id='newscomment2;{{feed.newscomment2.id}}' class='commentUpVote2 hand_over'></div>
													<div id='newscomment2;{{feed.newscomment2.id}}' style='display:none' class='commentUpVoted2 hand_over'></div>
												{% endif %}
												{% if info.downVoted_comment2 %}
													{% ifintInstr feed.newscomment2.id info.downVoted_comment2 %}
														<div id='newscomment2;{{feed.newscomment2.id}}' style='display:none' class='commentDownVote2 hand_over'></div>
														<div id='newscomment2;{{feed.newscomment2.id}}' class='commentDownVoted2 hand_over'></div>
													{% else %}
														<div id='newscomment2;{{feed.newscomment2.id}}' class='commentDownVote2 hand_over'></div>
														<div id='newscomment2;{{feed.newscomment2.id}}' style='display:none' class='commentDownVoted2 hand_over'></div>
													{% endifintInstr %}
												{% else %}
													<div id='newscomment2;{{feed.newscomment2.id}}' class='commentDownVote2 hand_over'></div>
													<div id='newscomment2;{{feed.newscomment2.id}}' style='display:none' class='commentDownVoted2 hand_over'></div>
												{% endif %}
											{% endfor %}</div>
											</td>
											<td>
												<div class='font-grey'><small>{{feed.newscomment2.user.nic_name}}&nbsp;&nbsp;<span id='newscomment2Score_{{feed.newscomment2.id}}' >{{feed.newscomment2.score}}</span>赞同&nbsp;&nbsp;{% showNewsTime feed.newscomment2 %}前</small></div>
												<div class='wordsColor'>{% autoescape off %}{{ feed.newscomment2.words}}{% endautoescape %}</div>
												<div>
													<ul class='list-inline list-unstyled'>
														<li><span class='font-grey'>
															<small>镀金<span>{{feed.newscomment2.gold}}</span></small>&nbsp;
															</span>
														</li>
														<li><span class='font-grey'><small>回复</small></span></li>
													</ul>
												</div>
											</td>	
										</tr>
										</table>
									</div>
									{% endifequal %}
									{% ifequal feed.type 'comment3GiveGold' %}
									<div class='clear_both'>
										<table class='indexCommentTable1'>
											<tr><td><div class='MR_9px'>
											{% for info in user.user_info_set.all %}
												{% if info.upVoted_comment3 %}
													{% ifintInstr feed.newscomment3.id info.upVoted_comment3 %}	
														<div id='newscomment3;{{feed.newscomment3.id}}' style='display:none' class='commentUpVote2 hand_over'></div>
														<div id='newscomment3;{{feed.newscomment3.id}}' class='commentUpVoted2 hand_over'></div>
													{% else %}
														<div id='newscomment3;{{feed.newscomment3.id}}' class='commentUpVote2 hand_over'></div>
														<div id='newscomment3;{{feed.newscomment3.id}}' style='display:none' class='commentUpVoted2 hand_over'></div>
													{% endifintInstr %}
												{% else %}
													<div id='newscomment3;{{feed.newscomment3.id}}' class='commentUpVote2 hand_over'></div>
													<div id='newscomment3;{{feed.newscomment3.id}}' style='display:none' class='commentUpVoted2 hand_over'></div>
												{% endif %}
												{% if info.downVoted_comment3 %}
													{% ifintInstr feed.newscomment3.id info.downVoted_comment3 %}
														<div id='newscomment3;{{feed.newscomment3.id}}' style='display:none' class='commentDownVote2 hand_over'></div>
														<div id='newscomment3;{{feed.newscomment3.id}}' class='commentDownVoted2 hand_over'></div>
													{% else %}
														<div id='newscomment3;{{feed.newscomment3.id}}' class='commentDownVote2 hand_over'></div>
														<div id='newscomment3;{{feed.newscomment3.id}}' style='display:none' class='commentDownVoted2 hand_over'></div>
													{% endifintInstr %}
												{% else %}
													<div id='newscomment3;{{feed.newscomment3.id}}' class='commentDownVote2 hand_over'></div>
													<div id='newscomment3;{{feed.newscomment3.id}}' style='display:none' class='commentDownVoted2 hand_over'></div>
												{% endif %}
											{% endfor %}</div>
											</td>
											<td>
												<div class='font-grey'><small>{{feed.newscomment3.user.nic_name}}&nbsp;&nbsp;<span id='newscomment3Score_{{feed.newscomment3.id}}' >{{feed.newscomment3.score}}</span>赞同&nbsp;&nbsp;{% showNewsTime feed.newscomment3 %}前</small></div>
												<div class='wordsColor'>{% autoescape off %}{{ feed.newscomment3.words}}{% endautoescape %}</div>
												<div>
													<ul class='list-inline list-unstyled'>
														<li><span class='font-grey'>
															<small>镀金<span>{{feed.newscomment3.gold}}</span></small>&nbsp;
															</span>
														</li>
														<li><span class='font-grey'><small>回复</small></span></li>
													</ul>
												</div>
											</td>	
										</tr>
										</table>
									</div>
									{% endifequal %}
									{% ifequal feed.type 'comment4GiveGold' %}
									<div class='clear_both'>
										<table class='indexCommentTable1'>
											<tr><td><div class='MR_9px'>
											{% for info in user.user_info_set.all %}
												{% if info.upVoted_comment4 %}
													{% ifintInstr feed.newscomment4.id info.upVoted_comment4 %}	
														<div id='newscomment4;{{feed.newscomment4.id}}' style='display:none' class='commentUpVote2 hand_over'></div>
														<div id='newscomment4;{{feed.newscomment4.id}}' class='commentUpVoted2 hand_over'></div>
													{% else %}
														<div id='newscomment4;{{feed.newscomment4.id}}' class='commentUpVote2 hand_over'></div>
														<div id='newscomment4;{{feed.newscomment4.id}}' style='display:none' class='commentUpVoted2 hand_over'></div>
													{% endifintInstr %}
												{% else %}
													<div id='newscomment4;{{feed.newscomment4.id}}' class='commentUpVote2 hand_over'></div>
													<div id='newscomment4;{{feed.newscomment4.id}}' style='display:none' class='commentUpVoted2 hand_over'></div>
												{% endif %}
												{% if info.downVoted_comment4 %}
													{% ifintInstr feed.newscomment4.id info.downVoted_comment4 %}
														<div id='newscomment4;{{feed.newscomment4.id}}' style='display:none' class='commentDownVote2 hand_over'></div>
														<div id='newscomment4;{{feed.newscomment4.id}}' class='commentDownVoted2 hand_over'></div>
													{% else %}
														<div id='newscomment4;{{feed.newscomment4.id}}' class='commentDownVote2 hand_over'></div>
														<div id='newscomment4;{{feed.newscomment4.id}}' style='display:none' class='commentDownVoted2 hand_over'></div>
													{% endifintInstr %}
												{% else %}
													<div id='newscomment4;{{feed.newscomment4.id}}' class='commentDownVote2 hand_over'></div>
													<div id='newscomment4;{{feed.newscomment4.id}}' style='display:none' class='commentDownVoted2 hand_over'></div>
												{% endif %}
											{% endfor %}</div>
											</td>
											<td>
												<div class='font-grey'><small>{{feed.newscomment4.user.nic_name}}&nbsp;&nbsp;<span id='newscomment4Score_{{feed.newscomment4.id}}' >{{feed.newscomment4.score}}</span>赞同&nbsp;&nbsp;{% showNewsTime feed.newscomment4 %}前</small></div>
												<div class='wordsColor'>{% autoescape off %}{{ feed.newscomment4.words}}{% endautoescape %}</div>
												<div>
													<ul class='list-inline list-unstyled'>
														<li><span class='font-grey'>
															<small>镀金<span>{{feed.newscomment4.gold}}</span></small>&nbsp;
															</span>
														</li>
														<li><span class='font-grey'><small>回复</small></span></li>
													</ul>
												</div>
											</td>	
										</tr>
										</table>
									</div>
									{% endifequal %}
							
									{% if feed.showText %}
										{% ifequal feed.news.type 'pic' %}
											{% for newspic in feed.news.newspic_set.all %}
											<div class="nailthumb-container index-square-thumb {% if not forloop.first %}ML_35px{% endif %}">
												<a href="{{MEDIA_URL}}{{newspic.pic}}" data-lightbox="lightImg-feed-{{feed.id}}" title="{{news.title}}">
													<img src='{{MEDIA_URL}}{{newspic.pic}}' />
												</a>
											</div>
											{% endfor %}
										{% endifequal %}
										{% ifequal feed.news.type 'text' %}
										<div id=''>
											{% autoescape off %}{{feed.news.text|truncatewords_html:9}}{% endautoescape %}<a href='/news/{{feed.news.newspart.part}}/new/showNews/{{feed.news.id}}/'>查看全文</a>
										</div>							
										{% endifequal %}
									{% endif %}
								</div>
							</div>
						{% endfor %}
						{% else %}
						<div class='bcColorWhite'>
							<p class='text-center'>本周暂无动态，去探索方遒吧！</p>
						</div>
					{% endif %}
						<script src="{{STATIC_URL}}kindeditor-4.1.10/plugins/code/prettify.js"></script>
						<script>prettyPrint();</script>
					</div>
					
				</div>			
			  </div>
			  <div class="tab-pane fade" id="myWatch">
				<div id=''>
					<div class=''>
						<div class='feedsDivTop'>
						<p>我关注的</p>
						</div>
						<div class='feedsDivBottom'>
						{% if my_watching %}
							<table class='table table-bordered bcColorWhite'>
							{% for user1 in my_watching %}
								<tr>
									<td id='{{user1.id}}' class='hand_over ID_card font-color-link'>{{user1.nic_name}}</td>
									<td><a id='{{user1.id}}' class='watchClick hand_over'>已关注（点击取消）</a></td>
									<td>
										{% for info1 in user1.user_info_set.all %}{% if info1.watching %}
										{% ifintInstr user.id info1.watching %}<span>ta也关注了你</span>{% else %}{% endifintInstr %}{% endif %}{% endfor %}
									</td>
								</tr>
							{% endfor %}
							</table>
						{% else %}
							<p class='text-center'>你还没有关注任何人，去探索方遒吧：）</p>
						{% endif %}
						</div>
					</div>
					<div class=''>
						<div class='feedsDivTop'>
						<p>关注我的</p>
						</div>
						<div class='feedsDivBottom'>
						{% if my_beWatched %}
							<table class='table table-bordered bcColorWhite'>
							{% for user2 in my_beWatched %}
								<tr>
									<td id='{{user2.id}}' class='hand_over ID_card font-color-link'>{{user2.nic_name}}</td>
									<td>{% for info in user.user_info_set.all %}{% ifintInstr user2.id info.watching %}
									<a id='{{user2.id}}' class='watchClick hand_over'>已关注（点击取消）</a></td>{% else %}
									<a id='{{user2.id}}' class='watchClick hand_over'>关注ta</a></td>{% endifintInstr %}
									{% endfor %}
								</tr>
							{% endfor %}
							</table>
						{% else %}
							<p class='text-center'>暂时还没有人关注你，精彩的分享和评论是高人气的秘诀哦：）</p>
						{% endif %}
						</div>
					</div>
				</div>  
			  </div>
			</div>
        </div>			
	</div>
	<!-- Modal -->
	<div class="modal fade" id="idCard_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div id='modal_1' class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title" id="myModalLabel">易卡<span id='wise_modal_header'></span></h4>
		  </div>
		  <div class="modal-body">
			  <div id='idCard_div'>
			  </div>
			  <div class='modal_sure_btn'>
				 <button  type="button" data-dismiss="modal" class="btn btn-success btn-block" >确定</button>
			  </div>
		  </div>
		  
	   </div><!-- /.modal-content -->
	 </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</div>
{% endblock %}