<div id='index_rich' class='pull-left'>
    <div class='panel panel-danger'>			
        <div id='' class="panel-heading">
            富豪榜<span class='pull-right'><a target='_blank' href='/business/TheRich/'><small>查看完整榜单</small></a></span>
        </div>
        <div class="panel-body">
            <table class='table'>
                <tr>
                    <th>排名</th><th>昵称</th><th>资产/易币</th><th>学校</th>
                </tr>
                {% for richer in rich_users %}
                {% ifequal forloop.counter 1 %}<tr class='font-jin'>{% endifequal %}
                {% ifequal forloop.counter 2 %}<tr class='font-yin'>{% endifequal %}
                {% ifequal forloop.counter 3 %}<tr class='font-tong'>{% endifequal %}
                    <td><img src='{{STATIC_URL}}img/{{forloop.counter}}th.png' height="35" alt='财富名次'/></td>
                    <td>{{richer.nic_name}}</td>
                    <td>{{richer.money}}</td>
                    <td>{% ShowSchool richer.university_info_id %}</td>
                </tr>
                {% endfor %}
            </table>
        </div>       
    </div>
</div>

<div id='index_upright' class='pull-left'>
    {% if user.honour_set.all %}
        {% for honour in user.honour_set.all %}
            <img width='55px' src='{{STATIC_URL}}img/honour/{{honour.img}}' data-toggle="tooltip" title="{{honour.info}}" class='tooltip_th'/>
        {% endfor %}
    {% endif %}
</div>

{% for info in user.user_info_set.all %}<p id='index_sign'>个性签名：{{info.sign}}</p>{% endfor %}