<!DOCTYPE html>
<html>
  <head lang='zh-CN'>
    <title>{% block title %}登录 - 大学易{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{STATIC_URL}}css/my_css.css" rel="stylesheet" media="screen">
    <style>
    body{font-family:"Microsoft YaHei","Microsoft YaHei UI","ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif;}
    h1, .h1, h2, .h2, h3, .h3, h4, .h4, .lead {font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;}
    pre code { background: transparent; }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.6.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body background="{{STATIC_URL}}img/background-img1.jpg">
    <div id='log_div' class="">       
        <div id='slogan_div' class='pull-left'>
            <h1>大学易</h1>
            <p class="lead">分享学长学姐的经验、知识和见解</p>
            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#nothing_for_version">Learn more</button>
            <div>
            </div>
        </div>
        <div id='log_warning_div' class="alert alert-danger alert-dismissable pull-right">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <p><strong>Warning!</strong>
            由于IE浏览器（特别是低于IE8的版本）并不能很好的支持最新的网页技术，我们强烈建议您通过其他的浏览器来使用大学易，以获得最佳的体验        
            </p>
        </div>
        <div id='register_or_login' class='panel panel-info pull-right'>                       
            {% block log_or_register %}
            <div id='' class="panel-heading">
                <h4>登录
                    <a href='/log/page_register/'><span class='pull-right'><span class="glyphicon glyphicon-hand-right"></span> 注册</span></a>
                </h4> 
            </div>
            <div class="panel-body">
                <div id="login">                      
                   <div id='log_wrong_message'>                     
                        {% if wrong_not_active %} 
                        <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>Warning!</strong> &nbsp;&nbsp;<span class='font-red'>{{ wrong_not_active }}</span>                                                 
                        </div>
                        {% endif %}
                        {% if wrong_not_exist %}
                        <div class="alert alert-danger alert-dismissable">                        
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>Warning!</strong> &nbsp;&nbsp;<span class='font-red'>{{ wrong_not_exist }}</span>                                           
                        </div>
                        {% endif %}
                        {% if internet_not_work %}
                        <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>Warning!</strong> &nbsp;&nbsp;<span class='font-red'>{{ internet_not_work }}</span>                                             
                        </div>
                        {% endif %}
                    </div>
                    <form class='form-group' action='/log/' method='POST' autocomplete="on">
                        {% csrf_token %}
                        <div class='form-group'>
                            <label>邮箱</label>
                            <input type="email"  class='form-control' id='' name='email' placeholder="注册邮箱" required autofocus>
                        </div>
                        <div class='form-group'>
                            <label>密码</label>
                            <input type="password"  class='form-control' id='' name='stu_pwd' placeholder="学生系统密码" required>
                        </div>
                        {% if next %}  
                            <input type="hidden" value="{{next}}" name="next">  
                        {% endif %} 
                        <div>
                            <button class="btn btn-info btn-block" id='' type="submit">立即登录</button>
                        </div>
                    </form>
                </div>
            </div>
            
            {% endblock %}
        </div>
            
    </div>
    
        <!-- Modal -->
    <div class="modal fade" id="nothing_for_version" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div id='modal_nothing' class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">测试版申明</h4>
          </div>
          <div class="modal-body">
              <div id=''>
                   <p class="text-primary">
                        非常抱歉，当前为测试版本，所以有一些细节还没有处理，我们将尽快完善！
                   </p>              
              </div>
              <div class='modal_sure_btn'>
                 <button  type="button" data-dismiss="modal" class="btn btn-success btn-block" >我知道了</button>
              </div>
          </div>
          
       </div><!-- /.modal-content -->
     </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{STATIC_URL}}js/jquery-1.9.1.js"></script>
    <script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
    <script src="{{STATIC_URL}}js/my_scripts.js"></script>

  </body>
</html>

