<!DOCTYPE html>
<html>
  <head lang='zh-CN'>
    <title>{% block title %}方遒-让最有价值的信息呈现{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
	<meta name="keywords" content="方遒社区/方遒网/方遒/" />
	<meta name="description" content="方遒社区是一个类reddit的分享平台，基于一个用户投票系统，致力于让最有价值的信息呈现。这里你可以分享你的生活、知识和见解。" />
    
    <!-- Bootstrap -->
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{STATIC_URL}}css/my_css.css" rel="stylesheet" media="screen">
    <style>
    body{font-family:"Microsoft YaHei","Microsoft YaHei UI","ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif;}
    h1, .h1, h2, .h2, h3, .h3, h4, .h4, .lead {font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;}
    pre code { background: transparent; }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.6.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body background="{{STATIC_URL}}img/background-img1.jpg">
    <div class='container'>
	<div id='log_div' class="row" >       
        <div id='slogan_div' class='col-md-4 col-xs-12 col-md-offset-1'>
            <h1>方遒社区</h1>
            <p class="font-20">让最有价值的信息呈现</p>
            <a class="btn btn-primary btn-lg" href='/news/business/about/'>Learn more</a>
        </div>
		<div class='col-md-9'>
		</div>
		<div class='col-md-5 col-xs-12 col-md-offset-6 MT_8px'>
        <div id='register_or_login' class='panel panel-info'>                       
            {% block log_or_register %}
            <div id='' class="panel-heading">
                <h4>登录
                    <a href='/log/page_register/'><span class='pull-right'><span class="glyphicon glyphicon-hand-right"></span> 注册</span></a>
                </h4> 
            </div>
            <div class="panel-body">
                <div id="login">                      
                   <div id='log_wrong_message'>                     
                        {% if wrong_not_active %} 
                        <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>Warning!</strong> &nbsp;&nbsp;<span class='font-red'>{{ wrong_not_active }}</span>                                                 
                        </div>
                        {% endif %}
                        {% if wrong_not_exist %}
                        <div class="alert alert-danger alert-dismissable">                        
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>Warning!</strong> &nbsp;&nbsp;<span class='font-red'>{{ wrong_not_exist }}</span>                                           
                        </div>
                        {% endif %}
                        {% if internet_not_work %}
                        <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>Warning!</strong> &nbsp;&nbsp;<span class='font-red'>{{ internet_not_work }}</span>                                             
                        </div>
                        {% endif %}
                    </div>
                    <form class='form-group' action='/log/' method='POST' autocomplete="on">
                        {% csrf_token %}
                        <div class='form-group'>
                            <label>邮箱</label>
                            <input type="email"  class='form-control' id='' name='email' placeholder="邮箱" required autofocus>
                        </div>
                        <div id='log_pwd_div' class='form-group'>
                            <label>密码</label>
                            <input type="password"  class='form-control' id='' name='stu_pwd' placeholder="密码" required>
                        </div>
                        {% if next %}  
                            <input type="hidden" value="{{next}}" name="next">  
                        {% endif %} 
                        <div id='log_button'>
                            <button class="btn btn-info btn-block" id='' type="submit">立即登录</button>
                        </div>
                    </form>
                </div>
				<div>
				<p class='text-center text-danger'><small>由于IE浏览器不能很好地支持最新的网页技术，大学易强烈建议您使用其它浏览器以获得更好的体验</small></p>
				</div>
            </div>
            
            {% endblock %}
        </div> 
		</div>
    </div>
	</div>
	<div id='log_bottom_div' class='clear_both'>
		<div id='log_bottom_nav'>
		<p class='text-center'>
			<a href='/business/about/#aboutFQ'>
			关于大学易</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href='/business/about/#privacyPolicy'>
			隐私政策</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href='/business/about/#communityNorms'>
			社区规范</a>&nbsp;&nbsp;|&nbsp;&nbsp;
			<a href='/business/about/#ContactUs'>联系我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href='http://www.miitbeian.gov.cn/'>蜀ICP备13028752号-2</a>
		</p>
		<p class='text-center'>Copyright © 2014 funqiu.com&nbsp;&nbsp;保留所有权利</p>
		<h4 id='' class='text-center'>方遒：让最有价值的信息呈现</h4>		
		</div>
	</div>
    
        <!-- Modal -->
    <div class="modal fade" id="nothing_for_version" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div id='modal_nothing' class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">测试版申明</h4>
          </div>
          <div class="modal-body">
              <div id=''>
                   <p class="text-primary">
                        非常抱歉，当前为测试版本，所以有一些细节还没有处理，我们将尽快完善！
                   </p>              
              </div>
              <div class='modal_sure_btn'>
                 <button  type="button" data-dismiss="modal" class="btn btn-success btn-block" >我知道了</button>
              </div>
          </div>
          
       </div><!-- /.modal-content -->
     </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{STATIC_URL}}js/jquery.js"></script>
    <script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.scrollUp.min.js"></script>
	<script src="{{STATIC_URL}}js/my_scripts.js"></script>
  </body>
</html>

