{% extends 'base.html' %}

{% block title %}大学易 —— 注册{% endblock %}

{% block nav_ul %}
{% endblock %}

{% block welcome %}
{% endblock %} 

{% block mainbody %}
<div class='container'>
	<h2>只需3步，选课、期末 So easy!</h2>
	<div>
		<table class='table table-bordered'>
			<tr>
				<th bgcolor='#f9c62c'><span class='glyphicon glyphicon-hand-right font-green'></span>&nbsp;&nbsp;&nbsp;&nbsp;完善基本资料</th>
				<th><span class='glyphicon glyphicon-hand-right'></span>&nbsp;&nbsp;&nbsp;&nbsp;激活账号</th>
				<th><span class='glyphicon glyphicon-hand-right'></span>&nbsp;&nbsp;&nbsp;&nbsp;添加课程信息</th>
			</tr>
		</table>
		<p>------------------------------------------------------------------------------------------------------------------</p>
	</div>
	<div>
		{% if register_message %}
        <div id='duplicate_email_div' class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Warning!</strong> &nbsp;&nbsp;你可能需要重新填写此表单!<span class='font-red'></br>{{ register_message }}</span>
        </div>
        {% endif %}
		<form class='form-group' action='/log/register/step1/' method='POST' autocomplete="on">                
            {% csrf_token %}
            <div id='LogHTML_div_SchoolInfo'>
                <div>					
                    <label class='label_school'>学校（全称）</label>
                    <label class='label_college'>学院（全称）</label>
                    <label>专业（全称）</label>
                </div>
                <div class= 'form-inline'>
                    <input type="text"  class='form-control width_15' id ='register_university' name='school' placeholder="e.g. 四川大学" required>                                                            
                    <input type="text"  class='form-control width_20' id ='register_college' name='college' placeholder="e.g. 商学院" required>                                                       
                    <input type="text"  class='form-control width_20' id ='register_major' name='major' placeholder="e.g. 电子商务专业" required>
					<p class='text-danger margin-top-6px'>Attention! 院校格式不合规范的账户将无法正常使用大学易，请务必按要求填写！仅在专业较小没有学院的情况下，学院一项填系名全称，如：xx系</p>
                </div>
            </div>
            <div class='form-group'>
                <label>邮箱</label>
				<div class= 'form-inline'>				
					<input type="email"  class='form-control width_20' id ='register_email' name='email' placeholder="我们将发送一封激活邮件" required>
					<span id='register_check_emial'></span>
				</div>
            </div>            
            <div class='form-group'>
                <label>密码</label>
                <input type="password"  class='form-control' id='register_stu_pwd' name='stu_pwd' placeholder="天知 地知 你知" required>
            </div>
			<div class='form-group'>
                <label>确认密码</label>
				<div class= 'form-inline'>	
					<input type="password"  class='form-control' id='register_sure_pwd' name='sure_pwd' placeholder="请确认登录密码" required>
					<span id='register_check_pwd'></span>
				</div>
            </div>
            <div>
                <div><label>验证码</label></div>
                <input type="text"  class='form-control pull-left' id='register_verify' name='verify' placeholder="" required>
                <img src='/verify/'>
            </div>
            <div>
                <button class="btn btn-block btn-success register-next-btn" id='register_btn' type="submit">下一步</button>
            </div>
                
        </form>
	</div>
</div>
{% endblock %}