/* CSS for all HTML */

.hidden {
	display:none;
}

.show{
	display:inline;
}

.underline{
    text-decoration: underline;
}

.margin-top-6px{
	margin-top: 6px;
}

.font-red{
    color: red;
}

.font-color-link{
	color: #2a7cc0;
}

.font-black{
    color: black;
}

.font-white{
	color: white;
}

.font-green{
    color: green;
}

.font-blue{
    color: blue;
}

.font-jin{
	color: #e69800;
}

.font-yin{
	color: #a5a5a5;
}

.font-tong{
	color: #d97443;
}

.underline{
    text-decoration: underline;
}

.width_100{
    width: 100%;
}

.hand_over{
    cursor: pointer;
}

.clear_both{
    clear:both;
}

.modal_button_alone{
    width:35%;
    margin-left:30%;
}

.width_20{
	width:20%;
	margin-right:15px;
}

.width_15{
	width:15%;
	margin-right:15px;
}

.font-20{
	font-size: 20px;
}

.font-15{
	font-size: 15px;
}

#scrollUp {
    bottom: 40px;
	right: 60px;
	padding: 10px 20px;
	background: #555;
	color: #fff;
}

#idCard_modal{
	padding-top: 1%;
	padding-left: 20%;
	padding-right: 20%;
}

/* CSS for business.html */
/* CSS for TheRich.html */
#TheRich_info,#howToRich{
	padding-top: 5%;
}

#TheHistoryRich{
	margin-left: 14%;
	width: 60%;
}

#findMe{
	margin-left: 77%;
}

#richHTML_left{
	margin-left: 1%;
	width: 14%;
}

#richHTML_right{
	margin-left: 2%;
	width: 13%;

}

#richHTML_center{
	width: 70%;
	
}

#TheRich_clock{
	margin-left: 440px;
}

.flip-clock-wrapper {
  text-align: center;
  position: relative;
  width: 50%;
  margin: 1em;
}

.flip-clock-wrapper ul {
  position: relative;
  float: left;
  margin: 5px;
  width: 40px;
  height: 60px;
  font-size: 60px;
  font-weight: bold;
  line-height: 55px;   /* 调整数字在块内的高度*/
  border-radius: 6px;
  background: #996301;  /* 数字块底部颜色 */
}

.flip-clock-divider.days .flip-clock-label {
  right: -67px; }

.flip-clock-divider.hours .flip-clock-label {
  right: -72px; }

.flip-clock-divider.minutes .flip-clock-label {
  right: -71px; }

.flip-clock-divider.seconds .flip-clock-label {
  right: -72px; }

.flip-clock-dot.top {
  top: 18px; }

.flip-clock-dot.bottom {
  bottom: 47px; }

.flip-clock-wrapper ul li a div div.inn {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 200%;
  color: #ccc;
  text-shadow: 0 1px 2px #000;
  text-align: center;
  background-color: #e69800;   /* 数字块颜色 */
  border-radius: 6px;
  font-size: 40px; }

.flip-clock-dot {
  display: block;
  background: #323434;  /* 点的颜色 */
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  left: 5px; }
  
/* CSS for base.html */

#base_brand {
    font-size: 20px;
    color: #e6e9eb;
}

#bottom_navbar{
    padding-top: 10%;
    clear:both;
}

/* CSS for nextPage.html */
#refreshMessage_div{
   margin-top: 100px;
}

/* CSS for log.html and register.html */

#log_bottom_div{
	background: -webkit-linear-gradient(left, #110736 , #663051); /* For Safari */
	background: -o-linear-gradient(right, #110736, #663051); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #110736, #663051); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #110736 , #663051); /* Standard syntax */
	background-color: #663051;
	color: #fff;
}

#log_div{
	padding-bottom: 300px;
	margin-bottom: 275px;

}

#log_bottom_nav{
	margin-top: 40px;
	padding-bottom: 10px;
}

#log_info_div{
	margin-left: 20px;
}

#LogHTML_div_register { padding-top: 16px; }

#LogHTML_div_SchoolInfo { padding-bottom: 13px;}

#register_email { width: 28% }

#register_stu_pwd , #register_sure_pwd{ width: 20%; margin-right: 13px; }

#getCredit_file{
	width: 170px;
}

#div_guideToCreditFile{
	margin-top: 70px;
}


#register_verify { 
    width: 20%;
    margin-right: 5px;
    margin-bottom: 8px;
}

#log_button{
	margin-top: 25px;
}

#register_or_login{
    width: 28%;
    margin-left: 14px;
    padding-right: 0px;
    margin-right: 14%;
}

#log_pwd_div{
	margin-top: 20px;
}

#siteinfo_div{
	margin-top: 7%;
	width: 50%;
	margin-left: 90px;
}

#slogan_div{
    
    padding-left: 7%;
    padding-right: 0px;
    margin-right: 0px;
    margin-top: 5px;
}

#log_warning_div{
    margin-right: 8%;
    margin-top: 3%;
    width: 36%;
}

div.transp { /* make the div translucent */
    opacity: 0.9;                 /* Firefox, Safari(WebKit), Opera)*/
    filter: "alpha(opacity=60)"; /* IE 8 */
    filter: alpha(opacity=60);   /* IE 4-7 */
    zoom: 1;                     /* needed in IE up to version 7, or set width or height to trigger "hasLayout" */ 
}

.one_of_four { 
    width: 10%;
    margin-right: 2%;
 }

 .one_of_three{
    width: 25%;
    margin-right: 2%;
}

 .two_of_three{
    width: 35%;

}
 
 .register-next-btn{
	width: 30%;
	margin-left: 30%;
	margin-top: 30px;
 }
 
.label_school { padding-right: 9%; padding-left:5px;}

.label_college { padding-right: 14%; }

/* CSS for index.html and index2.html */

#div_ptable, #div_ttable { 
    width: 70%;
}

#add_course_button{
    width: 30%;
    padding-left: 4px;
    padding-top: 2px;
}


.add_button_info{
    text-decoration: underline;
}

/* CSS for index2.html */


#nic_name_input{
	margin-right: 11%;
}

#index_welcome { font-size: 14px; }

#myModal,#nothing_for_version{
    padding-top: 5%;
}

#modal_1{
    width: 80%;
}

#modal_table{
    margin-top: 0px;
    padding-top: 0px;
}

#wise_modal_header,#span_modal_header{
    font-size: 10px;
    color: red;
}

.modal_words{
    text-align: left;
    color: red;
}

.table td, .table th{
    text-align : center;
    font-size: 14px;
}

#add_course_div{
    margin-top: 1%;
}

#wise_add_course_div{
    margin-top: 6px;
}

#index2_downleft,#index2_upleft{
    width: 65%;
    padding-left: 7%;
    padding-right: 0px;
    margin-right: 0px;
}

#index2_downright,#index2_upright{
    margin-top: 3%;
    width: 30%;
    padding-left:0px;
    padding-right: 6%;
    margin-left: 0px;
}

/* CSS for index.html */
#index_rich{
	position: absolute; 
	right: 30px;
	width: 28%;
}

#index_upleft{
	width: 400px;
	margin-left: 60px;

}

#index_upright{
	margin-left:10px;
	margin-top: 0px;
	width: 390px;
}

#index_credit_div{
    margin-top: 0px;
    padding-top: 0px;
}

#index_credit_head{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#heading_value_eot, #heading_wise_add{
    margin-left: 0px;
}

#wise_add_button_link:link{
    text-decoration: none;
}


#footer_value_eot, #footer_wise_add_teacher{
    font-size: 13px;
    color: red;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

#wise_add_teacher_div{
    margin-top: 7px;
}

#index_downleft{
    width: 65%;
    padding-left: 7%;
    padding-right: 0px;
    margin-right: 0px;
	margin-top: 57px;
}

#index_downright{
    margin-top: 3%;
    width: 30%;
    padding-left:0px;
    padding-right: 6%;
    margin-left: 0px;
	margin-top: 65px;
}

#avtar_td{
    width: 40%;
}

#avatar_form{
    display: none;
}

#index_up{
    width: 100%;
}

.modal_sure_btn{
    margin-top: 5%;
    margin-left: 40%;
    width: 20%;
}

/* CSS for center.html */
#center_avatar_form{
	margin-top: 50px;
}

#for_20px{
	height: 20px;
}

#center_left_div{
    width: 65%;
    padding-left: 7%;
    padding-right: 0px;
    margin-right: 0px;
}

#center_right_div{
    margin-top: 3%;
    width: 30%;
    padding-left:0px;
    padding-right: 6%;
    margin-left: 0px;
}

#my_property_div{
    margin-top: 8%;
}

#my_download_div{
    margin-top: 8%;
}

.straight_div{
	margin-top: 15px;
	margin-bottom: 25px;
}

.straight{
	margin-left: 10px;
	margin-right: 15px;
}

/* CSS for value.html */

#value_submit_btn{
	width: 40%;
	margin-left: 50px;
}

#check_over{
	margin-left: 5px;
}

#value_main_div{
    width: 65%;
    margin-left: 4%;
    text-align: left;
}


#comment_area{
    width: 100%;

    margin-bottom: 3%;
}

#real_recommend{
    width: 100%;
}

#my_money_info,#spend_5_info,#my_honour_info,#show_luck_why{
    text-decoration: underline;
    cursor: pointer;
}

#my_money_Modal,#why_5_Modal,#my_honour_Modal,#hand_add_explain,#what_wise_add{
    padding-top: 5%;
 }

#value_info_modal,#what_honour_Modal{
    padding-top: 5%;
}
 
.one_of_three{
    width: 30%;
}

.one_of_two{
    width: 50%;
}

.width_seventy{
    width: 70%;
}

.btn-group .btn-default.btn-myui.active{
    background-color: #da984e;
    color: #FFF;
}

.eotlist_3{
    padding-left: 10%;
}

/* CSS for eotbase.html */

#eotbase_left_div{
    width: 62%;
    padding-left: 6%;
    padding-right: 0px;
    margin-right: 0px;
}


#eotbase_right_div{
    margin-top: 3%;
    width: 30%;
    padding-left:0px;
    padding-right: 6%;
    margin-left: 0px;
}


/* CSS for show.html */
.img-show{
	margin-left: 15%;
	margin-top: 8px;
	margin-bottom: 8px;
}

#img_btn,#file_btn,#reportImg_btn{
    margin-bottom: 6px;
}

#showHTML_bottom_navbar{
    margin-top: 170%;
}

#show_no_value_div{
    margin-left: 7%;
    padding-top: 16%;
}

#show_no_eot_message{
	margin-left: 4%;
    padding-top: 9%;
}

#show_luck_why{
    font-size: 15px;
    cursor: pointer;
}

#show_no_eot_message{
    font-size: 16px;
}

#same_course_div{
    margin-top: 20%;
}

#back_btn_div{
    margin-bottom: 10px;
}

#file_form,#img_form,#reportImg_table,#URP_form,#wise_form,#other_form{
    display: none;
}

#show_baseinfo_div{
    margin-top: 8px;
}

#share_douban{
    margin-right: 6px;
}

.show_btn{
    background-color: #6ea9db;
}

.show_label_div{
    margin-left: 0px;
    padding-left: 0px;
}

.show_message_div{
    margin-left: 30px;
}

.show_div{
    margin: 3px;
    padding: 10px;
}

.show_p{
    color: black;
    font-size: 15px;
    font-family: "Microsoft Yahei",sans-serif;
}

.show_coment_content_div{
    margin-left: 40px;
    margin-top: 8px;
}

.show_comment_like_div{
    margin-left: 40px;
}

.show_comment_img_div{
    margin-right: 15px;
}

.show_comment_textline{
    margin-top: 0px;
    padding-top: 0px;
}

.show_comment_time_span{
    font-size: 12px;
}

/* CSS for list.html */
ul li{
    padding-bottom: 5px;
}

.list_div{
    width: 30%;
    margin-right: 3%;
}

#search_down_div{
    margin-top: 8px;
}

.search_teacher_a{
    cursor: pointer;
}

/* CSS for showcomment.html */
#comment_div{
    width: 75%;
}

#report_eotData_modal,#verifying_eotData_modal,#green_eotData_modal{
    margin-top: 5%;
}

/* CSS for affair.html */
#affair_special_p{
    margin-top: 8%;
}