<p>亲爱的{{user_nic_name}}，您好：</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;您在大学易举报了课程资料，资料的详细信息如下：</p>
<p>&nbsp;&nbsp;</p>
<table class='table table-bordered' border="1">
    <tr>
        <th>&nbsp;&nbsp;相关课程名&nbsp;&nbsp;</th><th>&nbsp;&nbsp;资料主题&nbsp;&nbsp;</th><th>&nbsp;&nbsp;地址&nbsp;&nbsp;</th>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;{{course_name}}&nbsp;&nbsp;</td>
        <td>&nbsp;&nbsp;{{data_name}}&nbsp;&nbsp;</td>
        <td><a href={{data_url}}>&nbsp;&nbsp;点击前往&nbsp;&nbsp;</a></td>
    </tr>
</table>
<p>&nbsp;&nbsp;</p>
<p>大学易正在审核被举报的资料，期间资料仍然可以正常下载，
    大学易将尽快将审核的结果通知您。</p>
<p>&nbsp;&nbsp;</p>
<p>您收到此邮件，是因为大学易希望充分保障您的知情权。如果本邮件打扰到您，我们感到非常抱歉。</p>
<p>&nbsp;</p>
<p>=============================================</p>
<p>大学易&nbsp;www.collegeyi.com</p>
<p>此邮件为自动发出，请勿回复！</p>