<p>亲爱的{{user_nic_name}}，您好：</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;您在大学易被举报的课程资料已通过审核，资料的详细信息如下：</p>
<p>&nbsp;&nbsp;</p>
<table class='table table-bordered' border="1">
    <tr>
        <th>&nbsp;&nbsp;相关课程名&nbsp;&nbsp;</th><th>&nbsp;&nbsp;资料主题&nbsp;&nbsp;</th><th>&nbsp;&nbsp;地址&nbsp;&nbsp;</th>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;{{course_name}}&nbsp;&nbsp;</td>
        <td>&nbsp;&nbsp;{{data_name}}&nbsp;&nbsp;</td>
        <td><a href={{data_url}}>&nbsp;&nbsp;点击前往&nbsp;&nbsp;</a></td>
    </tr>
</table>
<p>&nbsp;&nbsp;</p>
<p>您的资料经大学易审核为安全有效的资料，感谢您为大学易做的贡献。如有异议，可直接回复本邮件和管理员沟通。</p>
<p>&nbsp;&nbsp;</p>
<p>您收到此邮件，是因为大学易希望充分保障您的知情权。如果本邮件打扰到您，我们感到非常抱歉。</p>
<p>&nbsp;</p>
<p>=============================================</p>
<p>大学易&nbsp;www.collegeyi.com</p>
