<p>亲爱的{{user_nic_name}}，您好：</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;您在大学易举报了课程资料，资料的详细信息如下：</p>
<p>&nbsp;&nbsp;</p>
<table class='table table-bordered' border="1">
    <tr>
        <th>&nbsp;&nbsp;相关课程名&nbsp;&nbsp;</th><th>&nbsp;&nbsp;资料主题&nbsp;&nbsp;</th><th>&nbsp;&nbsp;地址&nbsp;&nbsp;</th>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;{{course_name}}&nbsp;&nbsp;</td>
        <td>&nbsp;&nbsp;{{data_name}}&nbsp;&nbsp;</td>
        <td><a href={{data_url}}>&nbsp;&nbsp;点击前往&nbsp;&nbsp;</a></td>
    </tr>
</table>
<p>&nbsp;&nbsp;</p>
<p>经大学易鉴定，该资料并不符合下列的任何一项：</p>
<p>
    <ul>
        <li>资料与课程毫无关系，或者关联性极小</li>
        <li>存在广告、不良图片等不良信息</li>
        <li>资料与描述严重不符，产生了误导</li>
        <li>与课程其他资料极为相似，有很大的抄袭嫌疑</li>
        <li>其他与上述条件相似的情况</li>
    </ul>
</p>
<p>所以，您的举报没有通过审核，如有异议，可直接回复本邮件和管理员沟通，感谢您为大学易做的贡献。</p>
<p>&nbsp;&nbsp;</p>
<p>您收到此邮件，是因为大学易希望充分保障您的知情权。如果本邮件打扰到您，我们感到非常抱歉。</p>
<p>&nbsp;</p>
<p>=============================================</p>
<p>大学易&nbsp;www.collegeyi.com</p>
