{% extends 'base.html' %}
{% load my_tags %}

{% block title %}
让最有价值的信息呈现 - 方遒
{% endblock %}

{% block body %}
<div class='container'>
	<p>
		<ul class='list-inline list-unstyled'>
			<li><a href='#aboutFQ'>关于方遒</a></li>
			<li><a href='#privacyPolicy'>隐私政策</a></li>
			<li><a href='#communityNorms'>社区规范</a></li>
			<li><a href='#ContactUs'>联系我们</a></li>
		</ul>
	</p>
	<h4 id='aboutFQ'>Ⅰ.关于方遒</h4>
	<div class='ML_23px'>
		<p>方遒网是一个类reddit的分享平台，用户可以分享图片、链接、文章和音乐文件，并且可以对其他用户的分享和评论进行投票。</p>
		<p>&nbsp;</p>
	</div>
	<h4 id='privacyPolicy'>Ⅱ.隐私政策</h4>
	<div class='ML_23px'>	
		<p>方遒网暂时还没有拟定相关的隐私政策，我将尽快完善相关信息。如果你对方遒网的隐私政策有什么要求或者疑问，欢迎致信admin@funqiu.com</p>
		<p>&nbsp;</p>
	</div>
	<h4 id='communityNorms'>Ⅲ.社区规范</h4>
	<div class='ML_23px'>
		<p><b>①方遒公约</b></p>
		<p>方遒社区希望营造一种积极向上的、友善的氛围，以下词汇是强烈禁止的：</p>
		<P><ul>
			<li class='font-red'>与草、操二字相关的侮辱性词汇，谐音同义也在禁止之列</li>
			<li class='font-red'>与家人父母有相关的侮辱性词汇，谐音同义也在禁止之列</li>
			<li class='font-red'>其他侮辱谩骂性词汇</li>
			</ul></p>
		<p>以下词汇允许使用（经查证并无侮辱性，或者在大多数情况下无侮辱性）：</p>
		<P><ul>
			 <li class='font-green'>你妹（详见百度百科相关释义）</li>
			 <li class='font-green'>我靠（在无厘头语境下可以使用）</li>
			 </ul></p>
		<P>如果你无法接受以上条款，那么<span class='font-green'>只能说明方遒社区不适合你，并无其他含义</span>。你可以转到诸如百度贴吧等
		 无语言限制的社区</p>
		<p><b>②其他公约</b></p>
		<p>各社群可能会有相应的公约，详见各社群</p>
		<p>&nbsp;</p>
	</div>
	<h4 id='ContactUs'>Ⅳ.联系我</h4>
	<div class='ML_23px'>
		<p>Bug或者用户体验的相关反馈，你可以直接到<a href='/news/ReportCY/hot/'>ReportCY / 反馈建议</a>发帖，我将尽快回应。
		其他问题你可以致信admin@funqiu.com，或者加入方遒网的QQ群151198636</p>
	</div>
</div>
{% endblock %}
