{% extends 'base.html' %}

{% block title %}大学易 —— {{school}}保存网页源文件{% endblock %}

{% block search %}
<meta name="description" content="大学易--如何保存{{school}}学生期末成绩的源代码文件" />
<meta name="keywords" content="大学易,选课助手,课程点评,课程资料,大学生活" />
{% endblock %}

{% block nav_ul %}
{% endblock %}

{% block welcome %}
{% endblock %} 

{% block mainbody %}
<div class='container'>
	
	<div class="page-header">
	  <h1>保存网页源代码文件<small>&nbsp;&nbsp;&nbsp;for {{upper_code}}</small></h1>
	</div>
	
	<h3>Easy两步法：</h3><h4><a href='#1'>Step 1:&nbsp;进入成绩页面</a>&nbsp;&nbsp;<span class='glyphicon glyphicon-hand-right'></span>&nbsp;&nbsp;
	<a href='#2'>Step 2:&nbsp;保存源文件</a></h4>
	<p id='1'>----------------------------------------------------------------------------
	<small>我是步骤分割线</small>----------------------------------------------------------------</p>
	<p>&nbsp;</p>
	<img id='school_logo' width='288px' height='70px' src='{{STATIC_URL}}img/guide/{{school_code}}/{{school_code}}_0.png' alt='img for logo'/>
	
	<h4 class='font-blue'>Step 1:&nbsp;进入成绩页面</h4>
	<p>用IE浏览器登录学生教务系统，进入【成绩信息】，选择你要上传成绩的学期，进入该页面</p>
	<img width='85%' src='{{STATIC_URL}}img/guide/{{school_code}}/{{school_code}}_1.png' alt='img for step1'/>
	

	<p id='2'>----------------------------------------------------------------------------
	<small>我是步骤分割线</small>--------------------------------------------------------</p>
	
	<h4 class='font-blue'>Step 2:&nbsp;保存源文件</h4>
	<p>在成绩表格处单击鼠标右键，选择【查看源文件】，弹出默认编辑器后将文件【保存】即可</p>
	<img width='75%' src='{{STATIC_URL}}img/guide/{{school_code}}/{{school_code}}_2.png' alt='img for step2'/>
	<p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<small>我是图片分割线</small>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
	<img width='80%' src='{{STATIC_URL}}img/guide/{{school_code}}/{{school_code}}_3.png' alt='img for step2'/>
	<p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<small>我是图片分割线</small>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
	<img width='80%' src='{{STATIC_URL}}img/guide/{{school_code}}/{{school_code}}_4.png' alt='img for step2'/>
	<p id='5'>----------------------------------------------------------------------------
	<small>我是步骤结束线</small>----------------------------------------------------------------</p>
	<p>很easy吧？快去试试吧！（如果你觉得步骤不够清楚或者有任何的疑问，你可以联系我们collegeyi@sina.com，或者加入大学易QQ群151198636）</p>
	{% if more %}
		<p>如果你想继续保存其他学期的成绩源代码文件，重复执行上述步骤即可。</p>
	{% endif %}
	<p>&nbsp;</p>
	<h4>感谢&nbsp;<strong>{{name}}</strong>&nbsp;为测试本服务提供的学生账号和密码，历史将铭记你！</h4>
</div>
{% endblock %}