<!DOCTYPE html>
<html>
  <head lang='zh-CN'>
    <meta charset="utf-8" />
	<link rel='shortcut icon' href='{{STATIC_URL}}img/logo11.ico'>
	<title>{% block title %}{% endblock %}</title>   
	{% block search %}
    <meta name="description" content="方遒社区，让最有价值的信息呈现。方遒社区是一个类reddit的分享平台，你可以这里分享你的生活、知识和见解。" />
    <meta name="keywords" content="方遒社区/方遒/方遒网" />
	<meta property="qc:admins" content="76304772361156375" />
    {% endblock %}
	{% block meta %}
    {% endblock %}
	{% block moreLink %}
	{% endblock %}
    <!-- Bootstrap -->
	<link href="{{STATIC_URL}}css/lightbox.css" rel="stylesheet" />
	<link href="{{STATIC_URL}}css/jquery.nailthumb.1.1.min.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{STATIC_URL}}css/my_css.css" rel="stylesheet" media="screen">
	{% block moreStyle %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	{% endblock %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <style>
    body{font-family:"Microsoft YaHei","Microsoft YaHei UI","ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif;}
    h1, .h1, h2, .h2, h3, .h3, h4, .h4, .lead {font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;}
    pre code { background: transparent; }
    </style>	
	{% block moreCSS %}
	{% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.6.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- navbar -->
        <div class="navbar navbar-inverse" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class='container'>
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a id='base_brand' class="navbar-brand hand_over" href='/'>方遒社区</a>
              </div>
			  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <!-- Collect the nav links, forms, and other content for toggling -->
              {% block nav_ul %}
                <ul class="nav navbar-nav">
                    {% if newsHTML %}<li class='active'>{% else %}<li>{% endif %}<a href='/news/All/hot/'>方遒</a></li>
					{% if indexHTML %}
						<li class='active'>
					{% else %}
						<li>
					{% endif %}
						<a href='/index/'>个人中心
						{% if user.is_authenticated %}
							{% ifnotequal user.message 0 %}
							&nbsp;<span class="badge" style='background-color:red'>{{user.message}}</span>
							{% endifnotequal %}
						{% endif %}
						</a></li>
                    {% if centerHTML %}<li class='active'>{% else %}<li>{% endif %}<a href='/center/'>设置</a></li>
                </ul>
              {% endblock %}
              
              {% block welcome %}
              <ul class="nav navbar-nav navbar-right">
                <li><a id='index_welcome' href="#">欢迎你，{% if user.is_authenticated %}{{ user.nic_name }}{% else %}游客{% endif %}</a></li>
                <li>{% if user.is_authenticated %}<a id='logout_link' href='/log/logout/'>注销</a>
					{% else %}
						<a target='_blank' class='hand_over' href='/log/'>
							<span class='font-color-link'>注册/登陆</span>
						</a>				
					{% endif %}
				</li>
				{% if not user.is_authenticated %}
				<li>
					<a href='/account/QQlogin/' ><img src='{{STATIC_URL}}img/QQlog.png' /></a>			
				</li>
				{% endif %}
              </ul>
              {% endblock %}             
              <!-- /.navbar-collapse -->
			  </div>
            </div>
        </div>
    <!-- main body of the html -->
    {% block body %}
        {% block leftbody %}
        {% endblock %}
        {% block mainbody %}
        {% endblock %}
        {% block rightbody %}
        {% endblock %}
    {% endblock %}
    
    {% block botoom_bav %}
    <div id='bottom_navbar'>
    <p class='text-center'>
        <a class='hand_over' data-toggle="modal" data-target="#nothing_for_version">
        关于方遒</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a class='hand_over' data-toggle="modal" data-target="#nothing_for_version">
        隐私政策</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a class='hand_over' data-toggle="modal" data-target="#nothing_for_version">
        社区规范</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a class='hand_over' data-toggle="modal" data-target="#nothing_for_version">联系我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href='http://www.miitbeian.gov.cn/'>蜀ICP备13028752号-2</a>
    </p>
    <p class='text-center'>Copyright © 2014 collegeyi.com&nbsp;&nbsp;保留所有权利</p>	
    </div><h4 id='kouhao' class='text-center'>方遒，让最有价值的信息呈现</h4>
    {% endblock %}
	

    <!-- Modal -->
    <div class="modal fade" id="nothing_for_version" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div id='modal_nothing' class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">测试版申明</h4>
          </div>
          <div class="modal-body">
              <div id=''>
                   <p class="text-primary">
                        非常抱歉，当前为测试版本，所以有一些细节还没有处理，我们将尽快完善！
                   </p>              
              </div>
              <div class='modal_sure_btn'>
                 <button  type="button" data-dismiss="modal" class="btn btn-success btn-block" >我知道了</button>
              </div>
          </div>
          
       </div><!-- /.modal-content -->
     </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
    <!-- Modal -->
    <div class="modal fade" id="version_info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div id='' class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">版本说明</h4>
          </div>
          <div class="modal-body">
              <div id=''>
                   <p class="text-primary">
                        当前版本为测试版，主要包括一下功能：
                   </p> 
                   <p>
                     <ul>
                        <li>分享文本、链接、图片等</li>
                        <li>对分享、评论进行投票</li>
                     </ul>
                   </p>
              </div>
              <div class='modal_sure_btn'>
                 <button  type="button" data-dismiss="modal" class="btn btn-success btn-block" >期待下一版本</button>
              </div>
          </div>
          
       </div><!-- /.modal-content -->
     </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{STATIC_URL}}js/jquery.js"></script>
	<script src="{{STATIC_URL}}js/jquery.nailthumb.1.1.min.js"></script>
	<script src="{{STATIC_URL}}js/lightbox-2.6.min.js"></script>
    <script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
	<script src="{{STATIC_URL}}js/jquery.scrollUp.min.js"></script>
    <script src="{{STATIC_URL}}js/my_scripts.js"></script>
  </body>
</html>