{% extends 'base.html' %}
{% load my_tags %}

{% block title %}
让最有价值的信息呈现 - 方遒社区
{% endblock %}

{% block moreCSS %}
<link href="{{STATIC_URL}}css/bodyCss.css" rel="stylesheet" media="screen">
{% endblock %}

{% block mainbody %}
<div id='fangqiu'>
	<div style='padding: 0 15px;'>
		<div class='hidden-xs'>
		  <div class=''>
		  <ul class='list-inline'>
			<li>{% if user.is_authenticated %}<a href='/news/mySubscription/'><span class='font-333'>我的订阅：</span></a>{% else %}<span>默认订阅：</span>{% endif %}</li>
			<li><a class="{% ifnotequal part.part 'All' %}{% else %}font-orange{% endifnotequal %}" href='/news/All/hot/'>全部集</a></li>
			{% if user.is_authenticated %}
			<li><a class="{% ifnotequal part.part 'MySubs' %}{% else %}font-orange{% endifnotequal %}" href='/news/MySubs/hot/'>订阅集</a></li>
			{% endif %}
			{% for sub in mySubs %}
				<li><a class='{% ifnotequal part.part sub.part %}{% else %}font-orange{% endifnotequal %}' href='/news/{{sub.part}}/hot/'>{{ sub.realPart }}</a></li>
			{% endfor %}
			<li><a class='topPart' href='#'>探索+</a><li> 
		  </ul>
		  </div>
		  
		</div> <!-- /example -->
		<div class='visible-xs row'>
			<div class='col-xs-12'>
				<ul class='nav nav-pills'>
					<li class='dropdown'>
						<a id='drop11'' role='button' data-toggle='dropdown' href='#'>
						我的订阅<b class='caret'></b>
						</a>
						<ul class='dropdown-menu' role='menu' aria-labelledby='drop11'>
							{% for sub in  mySubs %}					
							<li role='presentation'>
								<a role='menuitem' tabindex='-1' href='/news/{{sub.part}}/hot/'>{{sub.part}}/{{sub.realPart}}</a>
							</li>
							{% empty %}
							<li role='presentation'>
								你没有登陆或者没有订阅
							</li>
							{% endfor %}
						</ul>
					</li>
					<li class='dropdown'>
						<a id='drop22'' role='button' data-toggle='dropdown' href='#'>
						其他社群<b class='caret'></b>
						</a>
						<ul class='dropdown-menu' role='menu' aria-labelledby='drop22'>
							{% for part in otherParts %}
							<li role='presentation'>
								<a role='menuitem' tabindex='-1' href='/news/{{part.part}}/hot/'>{{part.part}}/{{part.realPart}}</a>
							</li>
							{% endfor %}
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<hr class='MT_0px'/>
		<div id='newsMainDiv' class='row'>
			{% block topPartLi %}
			{% if newsBase %}
			<div id='leftDiv' class='hidden-xs col-md-2 MT_45px'>			
				<ul class="side_nav">
					<li id='partLi'>&nbsp;&nbsp;最活跃的社群</li>
					{% for part in top_newsParts %}
					<li>
						<a id='activeColor{{forloop.counter}}' href='/news/{{part.part}}/hot/'>&nbsp;&nbsp;{{part.realPart}}</a>
						<div style='display:none'><p>{{part.description}}</p></div>
					</li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}
			{% endblock %}
			<div id='mainDiv' class='col-xs-12 {% if newsBase %}col-md-6{%else%}col-md-8{% endif %}'>
				{% block LeftDiv %}
				<ul class="nav nav-tabs">
				  <li>&nbsp;&nbsp;</li>
				  <li id='smallPartLi'><b>{{ part.part }}</b></li>
				  {% ifequal smallPart 'hot' %}<li class='active'>{% else %}<li>{% endifequal %}<a id='HotLi' href="#hot" data-toggle="tab">综合</a></li>
				  {% ifequal smallPart 'controversial' %}<li class='active'>{% else %}<li>{% endifequal %}<a href="#controversial" data-toggle="tab">热议</a></li>
				  {% ifequal smallPart 'gilded' %}<li class='active'>{% else %}<li>{% endifequal %}<a href="#gilded" data-toggle="tab">镀金的</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content bcColorWhite">
				  <div class="tab-pane{% ifequal smallPart 'hot' %} in active{% endifequal %}" id="hot">
					{% if hot_newses %}
						{% for news in hot_newses %}							
							<div class='clear_both line_bottom ML_23px'>
								<div class='voteDiv{{news.id}}'>
								<div id='{{news.ups}};{{news.downs}};{{news.score}}' class='pull-left hand_over newsScoreInfo MR_16px {% if not user.is_authenticated %}logVote{% endif %}'>
								{% if user.is_authenticated %}
								{% for info in user.user_info_set.all %}
									{% if info.upVoted_news %}
										{% ifintInstr news.id info.upVoted_news %}	
											<div id='' style='display:none' class='newsUpVote'></div>
											<div id='' class='newsUpVoted'></div>
										{% else %}
											<div id='' class='newsUpVote'></div>
											<div id='' style='display:none' class='newsUpVoted'></div>
										{% endifintInstr %}
									{% else %}
										<div id='' class='newsUpVote'></div>
										<div id='' style='display:none' class='newsUpVoted'></div>
									{% endif %}
									<div class='{% newsScoreClass info news %}'>{{news.score}}</div>
									{% if info.downVoted_news %}
										{% ifintInstr news.id info.downVoted_news %}
											<div id='' style='display:none' class='newsDownVote'></div>
											<div id='' class='newsDownVoted'></div>
										{% else %}
											<div id='' class='newsDownVote'></div>
											<div id='' style='display:none' class='newsDownVoted'></div>
										{% endifintInstr %}
									{% else %}
										<div id='' class='newsDownVote'></div>
										<div id='' style='display:none' class='newsDownVoted'></div>
									{% endif %}
								{% endfor %}
							{% else %}
								<div id='' class='newsUpVote'></div>
								<div id='' style='display:none' class='newsUpVoted'></div>
								<div class='{% newsScoreClass info news %}'>{{news.score}}</div>
								<div id='' class='newsDownVote'></div>
								<div id='' style='display:none' class='newsDownVoted'></div>
							{% endif %}
							</div>
							</div>
						{% ifequal news.type 'pic' %}
							{% for newspic in news.newspic_set.all %}								 
								<div id='{{news.id}}' class='readNews news_pic pull-left MT_6px nailthumb-container newsbase-square-thumb {% if not forloop.first %}hidden{% endif %}'>
									<a href="{{MEDIA_URL}}{{newspic.pic}}" data-lightbox="lightImg-hot-{{news.id}}" title="{{news.title}}">
										<img src='{{MEDIA_URL}}{{newspic.pic}}' />
									</a>
								</div>
							{% endfor %}
						{% endifequal %}
							<div class='pull-left MT_8px'>
								<div>
									{% ifequal news.type 'link' %}
									<a id='{{news.id}}' class='readNews news_title' target='_blank' href='{{news.link}}'>{{news.title|truncatechars:32}}</a>
									{% else %}
									<a class='news_title' href='/news/{{part.part}}/hot/showNews/{{news.id}}/'>{{news.title|truncatechars:32}}</a>
									{% endifequal %}
									<!--<span>——hot{{news.hot}}</span>-->
								</div>
								<div>
									<small>{% showNewsTime news %}前&nbsp;由&nbsp;&nbsp;
									<a id='{{news.user.id}}' class='shallowLink hand_over {% if user.is_authenticated %}ID_card{% else %}cardNeedLog{% endif %}'>
									{{news.user.nic_name}}</a>&nbsp;&nbsp;分享到&nbsp;
									<a class='shallowLink' href='/news/{{news.newspart.part}}/hot/'>
										{{news.newspart.part}}/{{news.newspart.realPart}}
									</a></small>
								</div>
								<ul class='list-inline list-unstyled'>
									<li>
										<small><a class='font-grey' href='/news/{{part.part}}/hot/showNews/{{news.id}}/'>
										{% ifnotequal news.comment_num 0 %}{{news.comment_num}}&nbsp;{% endifnotequal %}评论</a>
										</small>
									</li>
									<li><small class='font-grey'>{% ifnotequal news.gold 0 %}{% ifnotequal news.gold 0 %}{{news.gold}}{% endifnotequal %}&nbsp;{% endifnotequal %}镀金</small></li>
									<li><small class='font-grey'>{{news.read}}阅读</small></li>
									<li class='font-grey'>
										<i><small>
											{% ifequal news.type 'pic' %}{{ news.newspic_set.all | length }}{% endifequal %}
											{{news.type}}
										</small></i>
									</li>									
									{% ifnotequal news.type 'text' %}
										{% if user.is_authenticated %}
											{% ifnotVoted news user %}
												<li class='voteLi{{news.id}}'><small id='{{news.id}};1' class='baseVote font-orange hand_over'>顶</small></li>
												<li class='voteLi{{news.id}}'><small id='{{news.id}};0' class='baseVote font-orange hand_over'>沉</small></li>
											{% else %}{% endifnotVoted %}
										{% endif %}
									{% else %}
										{% if user.is_authenticated %}
											{% ifnotVoted news user %}
											<li><small class='needInside font-orange hand_over'>投票</small></li>
											{% else %}{% endifnotVoted %}
										{% endif %}
									{% endifnotequal %}
									
								</ul>
							</div>
							{% if news in top_newses %}
							<div class='pull-right'>
								<img src='{{STATIC_URL}}img/hot.png' class="img-responsive" />
							</div>
							{% endif %}
							{% if news in new_newslist %}
							<div class='pull-right'>
								<img src='{{STATIC_URL}}img/new.png' class="img-responsive" />
							</div>
							{% endif %}
						</div>
						
					{% endfor %}
				  {% else %}
					<p>这个社群还没有任何分享哦，成为第一个吧！</p>
				  {% endif %}
				  </div>
				  <div class="tab-pane{% ifequal smallPart 'controversial' %} in active{% endifequal %}" id="controversial">
				  {% if controversial_newses %}
					{% for news in controversial_newses %}
						<div class='clear_both line_bottom ML_13px'>
							<div class='voteDiv{{news.id}}'>
							<div id='{{news.ups}};{{news.downs}};{{news.score}}' class='pull-left hand_over newsScoreInfo MR_16px {% if not user.is_authenticated %}logVote{% endif %}'>
							{% if user.is_authenticated %}
								{% for info in user.user_info_set.all %}
									{% if info.upVoted_news %}
										{% ifintInstr news.id info.upVoted_news %}	
											<div id='' style='display:none' class='newsUpVote'></div>
											<div id='' class='newsUpVoted'></div>
										{% else %}
											<div id='' class='newsUpVote'></div>
											<div id='' style='display:none' class='newsUpVoted'></div>
										{% endifintInstr %}
									{% else %}
										<div id='' class='newsUpVote'></div>
										<div id='' style='display:none' class='newsUpVoted'></div>
									{% endif %}
									<div class='{% newsScoreClass info news %}'>{{news.score}}</div>
									{% if info.downVoted_news %}
										{% ifintInstr news.id info.downVoted_news %}
											<div id='' style='display:none' class='newsDownVote'></div>
											<div id='' class='newsDownVoted'></div>
										{% else %}
											<div id='' class='newsDownVote'></div>
											<div id='' style='display:none' class='newsDownVoted'></div>
										{% endifintInstr %}
									{% else %}
										<div id='' class='newsDownVote'></div>
										<div id='' style='display:none' class='newsDownVoted'></div>
									{% endif %}
								{% endfor %}
							{% else %}
								<div id='' class='newsUpVote'></div>
								<div id='' style='display:none' class='newsUpVoted'></div>
								<div class='{% newsScoreClass info news %}'>{{news.score}}</div>
								<div id='' class='newsDownVote'></div>
								<div id='' style='display:none' class='newsDownVoted'></div>
							{% endif %}
						</div>
						</div>
						{% ifequal news.type 'pic' %}
							{% for newspic in news.newspic_set.all %}								 
								<div id='{{news.id}}' class='readNews news_pic pull-left MT_6px nailthumb-container newsbase-square-thumb {% if not forloop.first %}hidden{% endif %}'>
									<a href="{{MEDIA_URL}}{{newspic.pic}}" data-lightbox="lightImg-controversial-{{news.id}}" title="{{news.title}}">
										<img width='50px' src='{{MEDIA_URL}}{{newspic.pic}}' />
									</a>
								</div>
							{% endfor %}
						{% endifequal %}
							<div class='pull-left MT_8px'>
								<div>
									{% ifequal news.type 'link' %}
									<a class='news_title' target='_blank' href='{{news.link}}'>{{news.title|truncatechars:32}}</a>
									{% else %}
									<a class='news_title' href='/news/{{part.part}}/controversial/showNews/{{news.id}}/'>{{news.title|truncatechars:32}}</a>
									{% endifequal %}
									<!--<span>——controversy{{news.controversy}}</span>-->
								</div>
								<div>
									<small>{% showNewsTime news %}前&nbsp;由&nbsp;&nbsp;
									<a id='{{news.user.id}}' class='shallowLink hand_over {% if user.is_authenticated %}ID_card{% else %}cardNeedLog{% endif %}'>
									{{news.user.nic_name}}</a>&nbsp;&nbsp;分享到&nbsp;
									<a class='shallowLink' href='/news/{{news.newspart.part}}/hot/'>
										{{news.newspart.part}}/{{news.newspart.realPart}}
									</a></small>
								</div>
								<ul class='list-inline list-unstyled'>
									<li><small><a class='font-grey' href='/news/{{part.part}}/controversial/showNews/{{news.id}}/'>
									{% ifnotequal news.comment_num 0 %}{{news.comment_num}}&nbsp;{% endifnotequal %}评论</a>
									</small></li>
									<li><small class='font-grey'>{% ifnotequal news.gold 0 %}{{news.gold}}{% endifnotequal %}镀金</small></li>
									<li><small class='font-grey'>{{news.read}}阅读</small></li>	
									<li class='font-grey'>
										<i><small>
											{% ifequal news.type 'pic' %}{{ news.newspic_set.all | length }}{% endifequal %}
											{{news.type}}
										</small></i>
									</li>
									{% ifnotequal news.type 'text' %}
										{% if user.is_authenticated %}
											{% ifnotVoted news user %}
												<li class='voteLi{{news.id}}'><small id='{{news.id}};1' class='baseVote font-orange hand_over'>顶</small></li>
												<li class='voteLi{{news.id}}'><small id='{{news.id}};0' class='baseVote font-orange hand_over'>沉</small></li>
											{% else %}{% endifnotVoted %}
										{% endif %}
									{% else %}
										{% if user.is_authenticated %}
											{% ifnotVoted news user %}
											<li><small class='needInside font-orange hand_over'>投票</small></li>
											{% else %}{% endifnotVoted %}
										{% endif %}
									{% endifnotequal %}
								</ul>
							</div>			
						</div>
					{% endfor %}
				  {% else %}
					<p>这个社群还没有任何分享哦，成为第一个吧！</p>
				  {% endif %}
				  </div>
				  
				  <div class="tab-pane{% ifequal smallPart 'gilded' %} in active{% endifequal %}" id="gilded">
				  {% if gilded_newses %}
					  {% for news in gilded_newses %}
							<div class='clear_both line_bottom ML_13px'>
							<div class='voteDiv{{news.id}}'>
							<div id='{{news.ups}};{{news.downs}};{{news.score}}' class='pull-left hand_over newsScoreInfo MR_16px {% if not user.is_authenticated %}logVote{% endif %}'>
							{% if user.is_authenticated %}
								{% for info in user.user_info_set.all %}
									{% if info.upVoted_news %}
										{% ifintInstr news.id info.upVoted_news %}	
											<div id='' style='display:none' class='newsUpVote'></div>
											<div id='' class='newsUpVoted'></div>
										{% else %}
											<div id='' class='newsUpVote'></div>
											<div id='' style='display:none' class='newsUpVoted'></div>
										{% endifintInstr %}
									{% else %}
										<div id='' class='newsUpVote'></div>
										<div id='' style='display:none' class='newsUpVoted'></div>
									{% endif %}
									<div class='{% newsScoreClass info news %}'>{{news.score}}</div>
									{% if info.downVoted_news %}
										{% ifintInstr news.id info.downVoted_news %}
											<div id='' style='display:none' class='newsDownVote'></div>
											<div id='' class='newsDownVoted'></div>
										{% else %}
											<div id='' class='newsDownVote'></div>
											<div id='' style='display:none' class='newsDownVoted'></div>
										{% endifintInstr %}
									{% else %}
										<div id='' class='newsDownVote'></div>
										<div id='' style='display:none' class='newsDownVoted'></div>
									{% endif %}
								{% endfor %}
							{% else %}
								<div id='' class='newsUpVote'></div>
								<div id='' style='display:none' class='newsUpVoted'></div>
								<div class='{% newsScoreClass info news %}'>{{news.score}}</div>
								<div id='' class='newsDownVote'></div>
								<div id='' style='display:none' class='newsDownVoted'></div>
							{% endif %}
						</div>
						</div>
							{% ifequal news.type 'pic' %}
								{% for newspic in news.newspic_set.all %}								 
									<div id='{{news.id}}' class='readNews news_pic pull-left MT_6px nailthumb-container newsbase-square-thumb {% if not forloop.first %}hidden{% endif %}'>
										<a href="{{MEDIA_URL}}{{newspic.pic}}" data-lightbox="lightImg-controversial-{{news.id}}" title="{{news.title}}">
											<img width='50px' src='{{MEDIA_URL}}{{newspic.pic}}' />
										</a>
									</div>
								{% endfor %}
							{% endifequal %}
								<div class='pull-left MT_8px'>
								<div>
									{% ifequal news.type 'link' %}
									<a class='news_title' target='_blank' href='{{news.link}}'>{{news.title|truncatechars:32}}</a>
									{% else %}
									<a class='news_title' href='/news/{{part.part}}/gilded/showNews/{{news.id}}/'>{{news.title|truncatechars:32}}</a>
									{% endifequal %}
								</div>
								<div>
									<small>{% showNewsTime news %}前&nbsp;由&nbsp;&nbsp;
									<a id='{{news.user.id}}' class='shallowLink hand_over {% if user.is_authenticated %}ID_card{% else %}cardNeedLog{% endif %}'>
									{{news.user.nic_name}}</a>&nbsp;&nbsp;分享到&nbsp;
									<a class='shallowLink' href='/news/{{news.newspart.part}}/hot/'>
										{{news.newspart.part}}/{{news.newspart.realPart}}
									</a></small>
								</div>
								<ul class='list-inline list-unstyled'>
									<li><small><a class='font-grey' href='/news/{{part.part}}/gilded/showNews/{{news.id}}/'>
									{% ifnotequal news.comment_num 0 %}{{news.comment_num}}&nbsp;{% endifnotequal %}评论</a>
									</small></li>
									<li><small class='font-grey'>{% ifnotequal news.gold 0 %}{{news.gold}}{% endifnotequal %}镀金</small></li>
									<li><small class='font-grey'>{{news.read}}阅读</small></li>	
									<li class='font-grey'>
										<i><small>
											{% ifequal news.type 'pic' %}{{ news.newspic_set.all | length }}{% endifequal %}
											{{news.type}}
										</small></i>
									</li>
									{% ifnotequal news.type 'text' %}
										{% if user.is_authenticated %}
											{% ifnotVoted news user %}
												<li class='voteLi{{news.id}}'><small id='{{news.id}};1' class='baseVote font-orange hand_over'>顶</small></li>
												<li class='voteLi{{news.id}}'><small id='{{news.id}};0' class='baseVote font-orange hand_over'>沉</small></li>
											{% else %}{% endifnotVoted %}
										{% endif %}
									{% else %}
										{% if user.is_authenticated %}
											{% ifnotVoted news user %}
											<li><small class='needInside font-orange hand_over'>投票</small></li>
											{% else %}{% endifnotVoted %}
										{% endif %}
									{% endifnotequal %}
								</ul>
							</div>
							
							</div>
						{% endfor %}
				  {% else %}
					<p>这个社群还没有任何分享哦，成为第一个吧！</p>
				  {% endif %}
				  </div>
				</div>
				{% endblock %}
			</div>
			
			<div id='RightDiv' class='col-xs-6 col-md-3 col-md-offset-1'>
				{% block RightDiv %}
					{% block news_details %}
					{% endblock %}
					{% block partInfo %}
					<div id='partInfoDiv' class='hidden-xs bcColorWhite'>
						<p><a class='font-333' href='/news/{{part.part}}/hot/'><strong>{{part.part}} / {{part.realPart}}</strong></a></p>
						<p>{% if not part.open%}（非公开的）{% endif %}{{part.description}}</p>
						{% ifnotequal part.part 'All' %}
							{% ifnotequal part.part 'MySubs' %}
								<p>{{part.user_num}}名读者&nbsp;&nbsp;&nbsp;
								{% for info in user.user_info_set.all %}
									{% if part.part in info.subscription %}
										<a id='{{part.part}}' class='subscriptionClick hand_over'>已订阅（点击取消）</a>
									{% else %}
										<a id='{{part.part}}' class='subscriptionClick hand_over'>未订阅（点击订阅）</a>
									{% endif %}
								{% endfor %}</p>
							{% endifnotequal %} 
						{% endifnotequal %}
					</div>
					<hr/>
					{% endblock %}
					{% block weekHot %}
						{% if weekTopList %}
						<div id='weekTopDiv' class='clear_both bcColorWhite hidden-xs'>
							<p class='text-danger text-center'>本周最火</p>
							<ul class='list-unstyled'>
								{% for news in weekTopList %}
									<li class='form-inline clear_both'>
										<div class='pull-left MT_11px weekListFont'>
											<b>{{news.score}}</b>
										</div>
										<div id='' class='newsUpVoted pull-left'></div>
										<div class='pull-left MT_11px'><a href='/news/{{news.newspart.part}}/hot/showNews/{{news.id}}/' class='font-black'>
											&nbsp;&nbsp;{{news.title|truncatechars:16}}</a>
										</div>
									</li>
									<hr class='MT_0px MB_0px clear_both'/>
								{% endfor %}
								<li>&nbsp;</li>
							</ul>
						</div>
						{% endif %}
					{% endblock %}
					{% block Submit %}
					<div id='submitBtnDiv' class='hidden-xs clear_both'>
						{% ifnotequal part.part 'ExplainCY' %}
							{% if part.can_link %}
							<div id='linkBtnDiv' class='both_clear'>						
								<a href='/news/{{part.part}}/submit/link/'><button type="button" class="btn btn-default font-link">
								{% ifequal part.part 'AskAnything' %}
								&nbsp;&nbsp;&nbsp;以链接的形式提问&nbsp;&nbsp;&nbsp;
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								{% else %}
								&nbsp;&nbsp;&nbsp;分享一个新链接&nbsp;&nbsp;&nbsp;
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endifequal %}</button></a>
								
							</div>
							{% endif %}
							{% if part.can_text %}
							<div id='textBtnDiv' class='both_clear'>								
								<a href='/news/{{part.part}}/submit/text/'><button type="button" class="btn btn-default font-link">
									{% ifequal part.part 'ReportCY' %}&nbsp;&nbsp;&nbsp;举报或者反馈bug&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									{% else %}
										{% ifequal part.part 'SuggestCY' %}任何的意见和建议（包括申请新的板块）
										{% else %}
											{% ifequal part.part 'AskAnything' %}
											&nbsp;&nbsp;&nbsp;以文字的形式提问&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											{% else %}
											&nbsp;&nbsp;&nbsp;分享一篇文章/日志&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											{% endifequal %}
										{% endifequal %}
									{% endifequal %}</button></a>
								
							</div>
							{% endif %}
							{% if part.can_pic %}
							<div id='picBtnDiv' class='both_clear'>	
								<a href='/news/{{part.part}}/submit/pic/'><button type="button" class="btn btn-default font-link">
								{% ifequal part.part 'AskAnything' %}
								&nbsp;&nbsp;
								以图片的形式发问&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								{% else %}
								&nbsp;&nbsp;
								分享图片&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endifequal %}</button></a>								
							</div>
							{% endif %}
							{% if part.can_mp3 %}
							<div id='mp3BtnDiv' class='both_clear'>								
								<a href='/news/{{part.part}}/submit/mp3/'><button type="button" class="btn btn-default font-link">&nbsp;&nbsp;
								分享音乐&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></a>
								
							</div>
							{% endif %}
						{% else %}
							{% ifequal user.email 'you_xiang_123@sina.com' %}
								{% if part.can_link %}
								<div id='linkBtnDiv' class='both_clear'>									
									<a href='/news/{{part.part}}/submit/link/'><button type="button" class="btn btn-default font-link">&nbsp;&nbsp;&nbsp;分享一个新链接&nbsp;
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></a>								
								</div>
								{% endif %}
								{% if part.can_text %}
								<div id='textBtnDiv' class='both_clear'>								
									<a href='/news/{{part.part}}/submit/text/'><button type="button" class="btn btn-default font-link">
										{% ifequal part.part 'ReportCY' %}&nbsp;&nbsp;&nbsp;举报或者反馈bug&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										{% else %}
											{% ifequal part.part 'SuggestCY' %}任何的意见和建议（包括申请新的板块）
											{% else %}&nbsp;&nbsp;&nbsp;分享一篇文章/日志&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											{% endifequal %}
										{% endifequal %}</button></a>
									
								</div>
								{% endif %}
								{% if part.can_pic %}
								<div id='picBtnDiv' class='both_clear'>								
									<a href='/news/{{part.part}}/submit/pic/'><button type="button" class="btn btn-default font-link">&nbsp;&nbsp;
									分享一张图片&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></a>
									
								</div>
								{% endif %}
							{% endifequal %}
						{% endifnotequal %}
					</div>
					{% endblock %}
					
					{% block Rule %}
					<div id='partRuleDiv' class='hidden-xs bcColorWhite'>
						<p><strong>本版块公约</strong></p>
						<div class='RuleDiv'>
							<p class='hand_over RuleP'><b>Ⅰ. 遵守方遒公约</b></p>
							<div style='display:none;'>
								<p>①<b>禁止</b>一切脏话，脏词（包括相关的网络用语），点此查看
								<a class='hand_over' data-toggle="modal" data-target="#ForbiddenWords_modal">禁词</a></p>
								<p>②<b>禁止</b>对个人或群体进行侮辱或诋毁</p>
								<p>③<b>禁止</b>发布可能会引发不良社会影响的信息（包括但不限于QQ空间的一些没有证据、不知出处的“热门日志、说说“），
									有相关证据的或者仅仅分享链接不在禁止之列</p>
								<p>违反上述约定的将<b>直接封号</b>，并不接受相关申诉！</p>
							</div>
						</div>
						<div class='RuleDiv'>
							<p class='hand_over RuleP'><b>Ⅱ. 分享公约</b></p>
							<div style='display:none;'>
								{% for rule in part.newspartrule_set.all %}
								<p>{% autoescape off %}{{rule.rule}}{% endautoescape %}</p>
								{% endfor %}
							</div>
						</div>
						<div class='RuleDiv'>
							<p class='hand_over RuleP'><b>Ⅱ. 回复公约</b></p>
							<div style='display:none;'>
								<p>①遵守<b>方遒公约</b>即可</p>
							</div>
						</div>
						<div class='RuleDiv'>
							<p class='hand_over RuleP'><b>如何举报违反公约的现象？</b></p>
							<div style='display:none;'>
								<p>请反馈到<a href='/news/reportCY/'>reportCY / 反馈</a>，您将获得易币或勋章奖励！</p>
							</div>
						</div>
					</div>
					<hr/  class='hidden-xs'>
					<div id='partSimilarDiv'  class='hidden-xs bcColorWhite'>				
						<p><strong>相似的社群</strong></p>
						{% include SimilarHtml %}
						<p>没有找到想要的社群？创建一个吧，只要不和现有板块完全重合，100%通过！移步 <a href='/news/SuggestCY'>SuggestCY / 建议</a></p>
					</div>
					<hr/>
					<div id='partAdminDiv'  class='hidden-xs bcColorWhite'>
						<p><strong>社群管理员</strong></p>
						<ul>
						{% for partadmin in part.partadmin_set.all %}
							<li><a id='{{partadmin.user.id}}' class='hand_over ID_card'>{{partadmin.user.nic_name}}</a></li>
						{% empty %}
							<li>暂无管理员</li>
						{% endfor %}
						</ul>
						<p>喜欢方遒社区？那就加入我们吧！Welcome进阶群&nbsp;<a>151198636</a></p>
					</div>
					{% endblock %}
				{% endblock %}
			</div>
		</div>
		{% block visibleXS %}
		<div class='row visible-xs clear_both MT_20px'>
			{% if weekTopList %}
				<div id='weekTopDiv' class='clear_both bcColorWhite col-xs-6 col-xs-offset-1'>
					<p class='text-danger text-center'>本周最火</p>
					<ul class='list-unstyled'>
						{% for news in weekTopList %}
							<li class='form-inline clear_both'>
								<div class='pull-left MT_11px weekListFont'>
									<b>{{news.score}}</b>
								</div>
								<div id='' class='newsUpVoted pull-left'></div>
								<div class='pull-left MT_11px'><a href='/news/{{news.newspart.part}}/hot/showNews/{{news.id}}/' class='font-black'>
									&nbsp;&nbsp;{{news.title|truncatechars:18}}</a>
								</div>
							</li>
							<hr class='MT_0px MB_0px clear_both'/>
						{% endfor %}
						<li>&nbsp;</li>
					</ul>
				</div>
			{% endif %}

			<div id='partInfoDiv' class='bcColorWhite col-xs-6 col-xs-offset-1'>
				<p><a class='font-333' href='/news/{{part.part}}/hot/'><strong>{{part.part}} / {{part.realPart}}</strong></a></p>
				<p>{% if not part.open%}（非公开的）{% endif %}{{part.description}}</p>
				{% ifnotequal part.part 'All' %}
				<p>{{part.user_num}}名读者&nbsp;&nbsp;&nbsp;
				{% for info in user.user_info_set.all %}
					{% if part.part in info.subscription %}
						<a id='{{part.part}}' class='subscriptionClick hand_over'>已订阅（点击取消）</a>
					{% else %}
						<a id='{{part.part}}' class='subscriptionClick hand_over'>未订阅（点击订阅）</a>
					{% endif %}
				{% endfor %}</p>
				{% endifnotequal %}
			</div>

			<div id='submitBtnDiv' class='col-xs-6 col-xs-offset-1'>
				{% ifnotequal part.part 'ExplainCY' %}
					{% if part.can_link %}
					<div id='linkBtnDiv' class='both_clear'>						
						<a href='/news/{{part.part}}/submit/link/'><button type="button" class="btn btn-default font-link">&nbsp;&nbsp;&nbsp;分享一个新链接&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></a>
						
					</div>
					{% endif %}
					{% if part.can_text %}
					<div id='textBtnDiv' class='both_clear'>								
						<a href='/news/{{part.part}}/submit/text/'><button type="button" class="btn btn-default font-link">
							{% ifequal part.part 'ReportCY' %}&nbsp;&nbsp;&nbsp;举报或者反馈bug&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							{% else %}
								{% ifequal part.part 'SuggestCY' %}任何的意见和建议（包括申请新的板块）
								{% else %}&nbsp;&nbsp;&nbsp;分享一篇文章/日志&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								{% endifequal %}
							{% endifequal %}</button></a>
						
					</div>
					{% endif %}
					{% if part.can_pic %}
					<div id='picBtnDiv' class='both_clear'>	
						<a href='/news/{{part.part}}/submit/pic/'><button type="button" class="btn btn-default font-link">&nbsp;&nbsp;
						分享一张图片&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></a>								
					</div>
					{% endif %}
					{% if part.can_mp3 %}
					<div id='mp3BtnDiv' class='both_clear'>								
						<a href='/news/{{part.part}}/submit/mp3/'><button type="button" class="btn btn-default font-link">&nbsp;&nbsp;
						分享音乐&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></a>
						
					</div>
					{% endif %}
				{% else %}
					{% ifequal user.email 'you_xiang_123@sina.com' %}
						{% if part.can_link %}
						<div id='linkBtnDiv' class='both_clear'>									
							<a href='/news/{{part.part}}/submit/link/'><button type="button" class="btn btn-default font-link">&nbsp;&nbsp;&nbsp;分享一个新链接&nbsp;
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></a>								
						</div>
						{% endif %}
						{% if part.can_text %}
						<div id='textBtnDiv' class='both_clear'>								
							<a href='/news/{{part.part}}/submit/text/'><button type="button" class="btn btn-default font-link">
								{% ifequal part.part 'ReportCY' %}&nbsp;&nbsp;&nbsp;举报或者反馈bug&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								{% else %}
									{% ifequal part.part 'SuggestCY' %}任何的意见和建议（包括申请新的板块）
									{% else %}&nbsp;&nbsp;&nbsp;分享一篇文章/日志&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									{% endifequal %}
								{% endifequal %}</button></a>
							
						</div>
						{% endif %}
						{% if part.can_pic %}
						<div id='picBtnDiv' class='both_clear'>								
							<a href='/news/{{part.part}}/submit/pic/'><button type="button" class="btn btn-default font-link">&nbsp;&nbsp;
							分享一张图片&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></a>
							
						</div>
						{% endif %}
					{% endifequal %}
				{% endifnotequal %}
			</div>
		</div>
		{% endblock %}
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="ForbiddenWords_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div id='' class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">方遒社区禁词</h4>
      </div>
      <div class="modal-body">
		 <p>方遒社区希望营造一种积极向上的、友善的氛围，以下词汇是强烈禁止的：</p>
		 <P><ul>
		 <li class='font-red'>与草、操二字相关的侮辱性词汇，谐音同义也在禁止之列</li>
		 <li class='font-red'>与家人父母有相关的侮辱性词汇，谐音同义也在禁止之列</li>
		 <li class='font-red'>其他侮辱谩骂性词汇</li>
		 </ul></p>
		 <p>以下词汇允许使用（经查证并无侮辱性，或者在大多数情况下无侮辱性）：</p>
		 <P><ul>
		 <li class='font-green'>你妹（详见百度百科相关释义）</li>
		 <li class='font-green'>我靠（在无厘头语境下可以使用）</li>
		 </ul></p>
		 <P>如果你无法接受以上条款，那么<span class='font-green'>只能说明方遒社区不适合你，并无其他含义</span>。你可以转到诸如百度贴吧等
		 无语言限制的社区</p>
         <div class='modal_sure_btn'>
             <button  type="button" data-dismiss="modal" class="btn btn-success btn-block" >承诺不使用</button>
          </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal -->
<div class="modal fade" id="idCard_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div id='modal_1' class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">易卡<span id='wise_modal_header'></span></h4>
      </div>
      <div class="modal-body">
          <div id='idCard_div'>
		  </div>
          <div class='modal_sure_btn'>
             <button  type="button" data-dismiss="modal" class="btn btn-success btn-block" >确定</button>
          </div>
      </div>
      
   </div><!-- /.modal-content -->
 </div><!-- /.modal-dialog -->
</div><!-- /.modal -->      

{% endblock %}