{% extends 'base.html' %}
{% load my_tags %}

{% block title %}
新闻- 大学易
{% endblock %}



{% block mainbody %}

<!-- Modal -->
<div class="modal fade" id="my_money_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div id='' class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
         
      </div>
      <div class="modal-footer">
        <button  type="button" data-dismiss="modal" class="btn btn-danger" >确定</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->      

{% endblock %}