{% extends 'newsBase.html' %}
{% load my_tags %}

{% block title %}
{{this_news.title}}- 方遒网
{% endblock %}

{% block moreLink %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}kindeditor-4.1.10/plugins/code/prettify.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/kindeditorImg.css" />
{% endblock %}

{% block topPartLi %}
{% endblock %}

{% block mainNewsbase %}
<div class='col-md-9 col-md-offset-1 col-xs-12 bcColorWhite HasBorder clear_both'>
	<div id='' class='clear_both'>	
		<div class='MT_7px MR_9px'>
			<p>&nbsp;&nbsp;分享人：
			<span id='{{this_news.user.id}}' class='hand_over font-link {% if user.is_authenticated %}ID_card{% else %}cardNeedLog{% endif %}'>{{this_news.user.nic_name}}</span>&nbsp;&nbsp;&nbsp;
			累计获得&nbsp;{{this_news.user.agree_num}}&nbsp;个赞同&nbsp;&nbsp;&nbsp;{% showBewatchedNum this_news.user %}
			{% if need_log %}
			{% else %}
				{% ifnotequal this_news.user.id user.id %}
					{% for info in user.user_info_set.all %}
						{% ifintInstr this_news.user.id info.watching %}
							<a id='{{this_news.user.id}}' class='watchClick hand_over'>已关注（点击取消）</a>
						{% else %}
							<a id='{{this_news.user.id}}' class='watchClick hand_over'>关注ta</a>
						{% endifintInstr %}
					{% endfor %}
				{% endifnotequal %}
			{% endif %}
			</p>
		</div>
	</div>
	<div class='clear_both'>
		<div id='voteChange'>
			<div id='{{this_news.ups}};{{this_news.downs}};{{this_news.score}}' class='pull-left hand_over newsScoreInfo MR_16px' >

			{% if user.is_authenticated %}
			{% for info in user.user_info_set.all %}
				{% if info.upVoted_news %}
					{% ifintInstr this_news.id info.upVoted_news %}	
						<div id='' class='newsUpVote hidden'></div>
						<div id='' class='newsUpVoted'></div>
					{% else %}
						<div id='' class='newsUpVote'></div>
						<div id='' class='newsUpVoted hidden'></div>
					{% endifintInstr %}
				{% else %}
					<div id='' class='newsUpVote'></div>
					<div id='' class='newsUpVoted hidden'></div>
				{% endif %}
				<div class='{% newsScoreClass info this_news %}'>{{this_news.score}}</div>
				{% if info.downVoted_news %}
					{% ifintInstr this_news.id info.downVoted_news %}
						<div id='' class='newsDownVote hidden'></div>
						<div id='' class='newsDownVoted'></div>
					{% else %}
						<div id='' class='newsDownVote'></div>
						<div id='' class='newsDownVoted hidden'></div>
					{% endifintInstr %}
				{% else %}
					<div id='' class='newsDownVote'></div>
					<div id='' class='newsDownVoted hidden'></div>
				{% endif %}
			{% endfor %}
			{% else %}
				<div id='' class='newsUpVote'></div>
				<div id='' style='display:none' class='newsUpVoted'></div>
				<div class='{% newsScoreClass info this_news %}'>{{this_news.score}}</div>
				<div id='' class='newsDownVote'></div>
				<div id='' style='display:none' class='newsDownVoted'></div>
			{% endif %}
			</div>
		</div>
		<div id='newsShow_itslef'>
			<div style='height:9px;'></div>
			<div>
				{% ifequal this_news.type 'link' %}
				<a class='news_title' target='_blank' href='{{this_news.link}}'>{{this_news.title}}</a>
				{% else %}
				<a class='news_title' href='/news/{{part.part}}/hot/showNews/{{this_news.id}}/'>{{this_news.title}}</a>
				{% endifequal %}
			</div>
			<div>
				<small>{% showNewsTime this_news %}前&nbsp;由&nbsp;&nbsp;<a id='{{this_news.user.id}}' class='shallowLink hand_over {% if user.is_authenticated %}ID_card{% else %}cardNeedLog{% endif %}'>{{this_news.user.nic_name}}</a>&nbsp;&nbsp;分享到&nbsp;
				<a class='shallowLink' href='/news/{{this_news.newspart.part}}/hot/'>
					{{this_news.newspart.part}}/{{this_news.newspart.realPart}}
				</a></small>
			</div>
			<ul class='list-inline list-unstyled'>
				<li><small>{% ifnotequal this_news.comment_num 0 %}{{this_news.comment_num}}&nbsp;{% endifnotequal %}评论</small></li>
				<li><small>{{this_news.read}}&nbsp;阅读</small></li>
				<li><i> <small>{{this_news.type}}</small></i></li> 
				{% if this_news.original %}
				<li><i> <small>原创</small></i></li> 
				{% endif %}
			</ul>
		</div>
		<div class='both_clear'>
		<hr/>
		</div>
		{% ifequal this_news.type 'text' %}
			<div class='clear_both bcColorWhite' id='showNewsTitle'>
				{% autoescape off %}{{this_news.text}}{% endautoescape %}
			</div>
		{% endifequal %}
		{% ifequal this_news.type 'pic' %}
			<div class='clear_both col-md-offset-2'>
				<table>
					<tr>
					{% for newspic in picgroup1 %}
						<td>
							<div class='nailthumb-container newsshow-square-thumb MB_0px'>
								<a href="{{MEDIA_URL}}{{newspic.pic}}" data-lightbox="lightImg-newsshow-{{this_news.id}}" title="{{this_news.title}}">
									<img src='{{MEDIA_URL}}{{newspic.pic}}' />
								</a>
							</div>
						</td>
					{% endfor %}
					</tr>
					{% if picnum4_6 %}
					<tr>
						{% for newspic in picgroup2 %}
							<td>
								<div class='nailthumb-container newsshow-square-thumb MB_0px'>
									<a href="{{MEDIA_URL}}{{newspic.pic}}" data-lightbox="lightImg-newsshow-{{this_news.id}}" title="{{this_news.title}}">
										<img src='{{MEDIA_URL}}{{newspic.pic}}' />
									</a>
								</div>
							</td>
						{% endfor %}
					</tr>
					{% endif %}
					{% if picnum7_9 %}
					<tr>
						{% for newspic in picgroup3 %}
							<td>
								<div class='nailthumb-container newsshow-square-thumb MB_0px'>
									<a href="{{MEDIA_URL}}{{newspic.pic}}" data-lightbox="lightImg-newsshow-{{this_news.id}}" title="{{this_news.title}}">
										<img src='{{MEDIA_URL}}{{newspic.pic}}' />
									</a>
								</div>
							</td>
						{% endfor %}
					</tr>
					{% endif %}
					{% if picnum10_12 %}
					<tr>
						{% for newspic in picgroup4 %}
							<td>
								<div class='nailthumb-container newsshow-square-thumb MB_0px'>
									<a href="{{MEDIA_URL}}{{newspic.pic}}" data-lightbox="lightImg-newsshow-{{this_news.id}}" title="{{this_news.title}}">
										<img src='{{MEDIA_URL}}{{newspic.pic}}' />
									</a>
								</div>
							</td>
						{% endfor %}
					</tr>
					{% endif %}
					{% if picnum13_15 %}
					<tr>
						{% for newspic in picgroup5 %}
							<td>
								<div class='nailthumb-container newsshow-square-thumb MB_0px'>
									<a href="{{MEDIA_URL}}{{newspic.pic}}" data-lightbox="lightImg-newsshow-{{this_news.id}}" title="{{this_news.title}}">
										<img src='{{MEDIA_URL}}{{newspic.pic}}' />
									</a>
								</div>
							</td>
						{% endfor %}
					</tr>
					{% endif %}
				</table>
			</div>
		{% endifequal %}
		{% ifequal this_news.type 'mp3' %}
		<div class='clear_both' id='showNewsmp3'>
			<audio src="{{MEDIA_URL}}{{this_news.mp3}}" controls="controls" loop="loop" preload="metadata">你的浏览器不支持音乐播放</audio>
		</div>
		{% endifequal %}

		<div class='clear_both ML_23px'>
			{% if this_news.agree_man %}
			<p>
				<span id='likeMan' class='font-link'>&nbsp;{% showNewsLikeMan this_news.agree_man %}</span>&nbsp;觉得很赞
			</p>
			<hr class='MB_0px'/>
			{% endif %}
		</div>
		
	</div>
	{% if not need_money %}	
	<div>
		{% if need_log %}
		<p>&nbsp;</p>
		<p class='text-center clear_both MT_8px'>登陆是美德，点赞好习惯 \^o^/
			<a class='hand_over font-link font-20' id='newsShowCallLog'>&nbsp;&nbsp;立即登录（支持QQ登录）</a>
		</p>
		<div id='showNewslogForm' class='col-xs-6 col-md-6 col-md-offset-3 PA_0xp'>                       
			<div id='normalLogDiv' class='bcColorWhite'>                   
				<form class='form-group' action='/log/' method='POST' autocomplete="on">
					{% csrf_token %}
					<div class='form-group'>
						<label>邮箱</label>
						<input type="email"  class='form-control' id='' name='email' placeholder="邮箱" required autofocus>
					</div>
					<div id='log_pwd_div' class='form-group'>
						<label>密码</label>
						<input type="password"  class='form-control' id='' name='stu_pwd' placeholder="密码" required>
					</div> 
					<input type="hidden" value="{{ request.path }}" name="next">  
					<div id='log_button' class='ML_23px'>
						<button class="btn btn-info" id='' type="submit">立即登录</button>
						<a href='/log/page_register/'>&nbsp;&nbsp;&nbsp;&nbsp;注册&nbsp;&nbsp;</a>
						<a href='/account/QQlogin/' ><img src='{{STATIC_URL}}img/QQlog.png' /></a>
					</div>
				</form>
			</div>
		</div>
		{% endif %}
	</div>
	{% endif %}
	
	<div class='clear_both MT_8px ML_26px'>
		{% if not need_log and not need_money %}
			{% if need_vote %} 
			<div id='voteDiv' class='pull-left'>							
				<a id='{{this_news.id}};1' class='logVote font-orange hand_over'>赞</a>
				<a id='{{this_news.id}};0' class='logVote font-orange hand_over'>&nbsp;踩</a>
				&nbsp;|&nbsp;
				<span class='hidden' id='myName'>{{user.nic_name}}</span>
			</div>
			{% else %}
			<div id='' class='pull-left'>							
				已评价&nbsp;|&nbsp;
			</div>
			{% endif %}
		{% endif %}
		
		{% if user.is_authenticated %}
			{% ifnotCollected user this_news %}
			<div id='callCollectDiv' class='callCollect pull-left MR_9px hand_over'>收藏</div>
			{% else %}
			<div id='' class='pull-left MR_9px'>已收藏</div>
			{% endifnotCollected %}
		{% else %}
			<div id='' class='pull-left MR_9px hand_over need_log'>|&nbsp;收藏</div>
		{% endif %}
		
		<div id='showNewsGold' class='pull-left'>
			|&nbsp;<a id='news;{{this_news.id}};{{this_news.gold}}' class='{% if user.is_authenticated %}giveGold{% else %}need_login{% endif %} hand_over font-333'>
			镀金&nbsp;<span id='news_goldNum_{{this_news.id}}'>{{this_news.gold}}</span>
			</a>
		</div>			
		
		<div class='pull-left MR_9px'>&nbsp;|&nbsp;分享到</div>
		<div class='pull-left'>
			{% ifequal this_news.type 'link' %}
			<script type="text/javascript">
				(function(){
				var p = {
				url:location.href,
				showcount:'1',/*是否显示分享总数,显示：'1'，不显示：'0' */
				desc:'',/*默认分享理由(可选)*/
				summary:'由{{this_news.user.nic_name}}分享到方遒网【{{part.part}} / {{part.realPart}}】，{{part.description}}',/*分享摘要(可选)*/
				title:'{{this_news.title}}',/*分享标题(可选)*/
				site:'方遒网',/*分享来源 如：腾讯网(可选)*/
				pics:'{{STATIC_URL}}img/funqiu.png', /*分享图片的路径(可选)*/
				style:'202',
				width:105,
				height:31
				};
				var s = [];
				for(var i in p){
				s.push(i + '=' + encodeURIComponent(p[i]||''));
				}
				document.write(['<a version="1.0" class="qzOpenerDiv" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?',s.join('&'),'" target="_blank">分享</a>'].join(''));
				})();
			</script>
			<script src="http://qzonestyle.gtimg.cn/qzone/app/qzlike/qzopensl.js#jsdate=20111201" charset="utf-8"></script>
			{% endifequal %}
			{% ifequal this_news.type 'text' %}
			<script type="text/javascript">
				(function(){
				var p = {
				url:location.href,
				showcount:'1',/*是否显示分享总数,显示：'1'，不显示：'0' */
				desc:'',/*默认分享理由(可选)*/
				summary:'由{{this_news.user.nic_name}}分享到方遒网【{{part.part}} / {{part.realPart}}】，{{part.description}}',/*分享摘要(可选)*/
				title:'{{this_news.title}}',/*分享标题(可选)*/
				site:'方遒网',/*分享来源 如：腾讯网(可选)*/
				pics:'{{STATIC_URL}}img/funqiu.png', /*分享图片的路径(可选)*/
				style:'202',
				width:105,
				height:31
				};
				var s = [];
				for(var i in p){
				s.push(i + '=' + encodeURIComponent(p[i]||''));
				}
				document.write(['<a version="1.0" class="qzOpenerDiv" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?',s.join('&'),'" target="_blank">分享</a>'].join(''));
				})();
			</script>
			<script src="http://qzonestyle.gtimg.cn/qzone/app/qzlike/qzopensl.js#jsdate=20111201" charset="utf-8"></script>
			{% endifequal %}

			{% ifequal this_news.type 'pic' %}
			<script type="text/javascript">
				(function(){
				var p = {
				url:location.href,
				showcount:'1',/*是否显示分享总数,显示：'1'，不显示：'0' */
				desc:'',/*默认分享理由(可选)*/
				summary:'由{{this_news.user.nic_name}}分享到方遒网【{{part.part}} / {{part.realPart}}】，{{part.description}}',/*分享摘要(可选)*/
				title:'{{this_news.title}}',/*分享标题(可选)*/
				site:'方遒网',/*分享来源 如：腾讯网(可选)*/
				pics:'{{MEDIA_URL}}{{this_news.pic}}', /*分享图片的路径(可选)*/
				style:'202',
				width:105,
				height:31
				};
				var s = [];
				for(var i in p){
				s.push(i + '=' + encodeURIComponent(p[i]||''));
				}
				document.write(['<a version="1.0" class="qzOpenerDiv" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?',s.join('&'),'" target="_blank">分享</a>'].join(''));
				})();
			</script>
			<script src="http://qzonestyle.gtimg.cn/qzone/app/qzlike/qzopensl.js#jsdate=20111201" charset="utf-8"></script>
			{% endifequal %}
			{% ifequal this_news.type 'mp3' %}
			<script type="text/javascript">
				(function(){
				var p = {
				url:location.href,
				showcount:'1',/*是否显示分享总数,显示：'1'，不显示：'0' */
				desc:'',/*默认分享理由(可选)*/
				summary:'由{{this_news.user.nic_name}}分享到方遒网【{{part.part}} / {{part.realPart}}】，{{part.description}}',/*分享摘要(可选)*/
				title:'{{this_news.title}}',/*分享标题(可选)*/
				site:'方遒网',/*分享来源 如：腾讯网(可选)*/
				pics:'{{STATIC_URL}}img/funqiu.png', /*分享图片的路径(可选)*/
				style:'202',
				width:105,
				height:31
				};
				var s = [];
				for(var i in p){
				s.push(i + '=' + encodeURIComponent(p[i]||''));
				}
				document.write(['<a version="1.0" class="qzOpenerDiv" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?',s.join('&'),'" target="_blank">分享</a>'].join(''));
				})();
			</script>
			<script src="http://qzonestyle.gtimg.cn/qzone/app/qzlike/qzopensl.js#jsdate=20111201" charset="utf-8"></script>
			{% endifequal %}
		</div>
		<div id='explainGiveGold' class='pull-left hidden'>
		<span class='font-orange'>&nbsp;&nbsp;&nbsp;感谢分享，赠予作者5易币,可无限叠加</span>
	</div>
	</div>
	
	<div id='collectDiv' class='clear_both MT_8px ML_26px hidden'>
		<hr class='MT_0px MB_0px'/>
		{% if user.folder_set.all %}
		<p>收藏到：&nbsp;&nbsp;{% for folder in user.folder_set.all %}
		<span id='{{this_news.id}};{{folder.id}}' class='hand_over font-link collect'>{{ folder.name }}&nbsp;&nbsp;</span><span>|</span>
		{% endfor %}
		</p>
		<p>或者：</p>
		{% endif %}
		<div class='ML_23px form-group hasLeftBorder PL_5px'>
			<div class='form-inline form-group'>
				<label>收藏夹名称</label>
				<input id='name_input' type='text' class='form-control width_20' autofocus/>
			</div>
			<div class='form-inline form-group'>
				<label>描述收藏夹</label>
				<input id='desc_input' type='text' class='form-control width_50'/>
			</div>
			<button id='{{this_news.id}}' class='buildAndCollect'>新建并收藏本文</button>
		</div>
	</div>
</div>
<div class='col-md-2 clear_both'></div>
<div class='row'>
	<div class='col-md-9 col-xs-12 col-md-offset-1 MT_7px'>
		<span class='pull-left underline'><a href='{{referer_url}}' class='font-333'><<返回</a></span>
		<span class='pull-right underline'><a href='/news/{{part.part}}/hot/' class='font-333'>更多相似分享>></a></span>
	</div>
	<div class='col-md-2 clear_both'></div>
</div>
<hr class='MB_0px'/>
<div class='col-md-7 col-md-offset-1 col-xs-12 MT_20px PL_0px PR_0px'>		
	{% if not need_money %}
		<label>评论</label>
		<div id='commentDiv'>
			{% if this_news.newscomment1_set.all %}
				<div class='newscomment1WholeDiv bcColorWhite clear_both' style='padding-top:4px;'>
				{% for newscomment1 in this_news.newscomment1_set.all %}
					<div class='left_line clear_both row'>
					  <div class='col-md-2 col-xs-2' style='margin-right:-9%;'>
						<div id='newscomment1voteDiv{{newscomment1.id}}' class='news_vote pull-left'>
						<div id='{{newscomment1.ups}};{{newscomment1.downs}};{{newscomment1.score}}' class='newsScoreInfo hand_over'>
							{% for info in user.user_info_set.all %}
								{% if info.upVoted_comment1 %}
									{% ifintInstr newscomment1.id info.upVoted_comment1 %}	
										<div id='newscomment1;{{newscomment1.id}}' style='display:none' class='commentUpVote hand_over'></div>
										<div id='newscomment1;{{newscomment1.id}}' class='commentUpVoted hand_over'></div>
									{% else %}
										<div id='newscomment1;{{newscomment1.id}}' class='commentUpVote hand_over'></div>
										<div id='newscomment1;{{newscomment1.id}}' style='display:none' class='commentUpVoted hand_over'></div>
									{% endifintInstr %}
								{% else %}
									<div id='newscomment1;{{newscomment1.id}}' class='commentUpVote hand_over'></div>
									<div id='newscomment1;{{newscomment1.id}}' style='display:none' class='commentUpVoted hand_over'></div>
								{% endif %}
								{% if info.downVoted_comment1 %}
									{% ifintInstr newscomment1.id info.downVoted_comment1 %}
										<div id='newscomment1;{{newscomment1.id}}' style='display:none' class='commentDownVote hand_over'></div>
										<div id='newscomment1;{{newscomment1.id}}' class='commentDownVoted hand_over'></div>
									{% else %}
										<div id='newscomment1;{{newscomment1.id}}' class='commentDownVote hand_over'></div>
										<div id='newscomment1;{{newscomment1.id}}' style='display:none' class='commentDownVoted hand_over'></div>
									{% endifintInstr %}
								{% else %}
									<div id='newscomment1;{{newscomment1.id}}' class='commentDownVote hand_over'></div>
									<div id='newscomment1;{{newscomment1.id}}' style='display:none' class='commentDownVoted hand_over'></div>
								{% endif %}
							{% endfor %}
						</div></div>
						<div class="nailthumb-container commentAvatar-square-thumb pull-left MT_8px">							
							{% ifequal newscomment1.user.avatar 'img/avatar.png' %}									
								<a href="{{STATIC_URL}}img/avatar.png" data-lightbox='commentAvatar{{newscomment1.id}}' ><img src='{{STATIC_URL}}img/avatar.png'/></a>																	
							{% else %}									
								<a href="{{MEDIA_URL}}{{newscomment1.user.avatar}}" data-lightbox='commentAvatar{{newscomment1.id}}' ><img src='{{MEDIA_URL}}{{newscomment1.user.avatar}}'/></a>									
							{% endifequal %}
						</div>
					  </div>
					  <div class='col-md-10 col-xs-10' style='margin-right:9%;'>
						<div class='font-grey'><small><span id='{{newscomment1.user.id}}' class='hand_over {% if not need_log  %}ID_card{% else %}need_login{% endif %}'>{{newscomment1.user.nic_name}}</span>&nbsp;&nbsp;<span id='newscomment1Score_{{newscomment1.id}}' >{{newscomment1.score}}</span>赞同&nbsp;&nbsp;{% showNewsTime newscomment1 %}前</small></div>
						<div class='wordsColor'>{% autoescape off %}{{ newscomment1.words}}{% endautoescape %}</div>
						<div>
							<ul class='list-inline list-unstyled'>
								<li><a id='newscomment1;{{newscomment1.id}};{{newscomment1.gold}}' class='{% if user.is_authenticated %}giveGold{% else %}need_login{% endif %} font-grey hand_over'>
									<small><span id='newscomment1_goldNum_{{newscomment1.id}}'>{% ifnotequal newscomment1.gold 0 %}{{newscomment1.gold}}{% endifnotequal %}</span>镀金</small>&nbsp;
									</a>
								</li>
								<li><a id='newscomment1;{{newscomment1.id}}' class='{% if user.is_authenticated %}callReplyBtn{% else %}need_login{% endif %} font-grey hand_over'><small>回复</small></a></li>
								{% if user.is_authenticated %}
									{% ifnotCommentVoted newscomment1 user %}
										<li class='newscomment1voteLi{{newscomment1.id}}'><small id='newscomment1;{{newscomment1.id}};1' class='commentVote font-orange hand_over'>赞</small></li>
										<li class='newscomment1voteLi{{newscomment1.id}}'><small id='newscomment1;{{newscomment1.id}};0' class='commentVote font-orange hand_over'>踩</small></li>
									{% else %}{% endifnotCommentVoted %}
								{% endif %}
							</ul>
						</div>
					  </div>				  
					  <div id='newscomment1_{{newscomment1.id}}_reply'></div>
					</div>
					<hr class='clear_both comment_hr'/>
					{% if newscomment1.newscomment2_set.all %}
						<div class='newscomment2WholeDiv clear_both'>
						{% for newscomment2 in newscomment1.newscomment2_set.all %}
							<div class='clear_both left_line row'>
							  <div class='col-md-2 col-xs-2' style='margin-right:-9%;'>
								<div id='newscomment2voteDiv{{newscomment2.id}}' class='news_vote pull-left'>
								<div id='{{newscomment2.ups}};{{newscomment2.downs}};{{newscomment2.score}}' class='newsScoreInfo hand_over'>
									{% for info in user.user_info_set.all %}
										{% if info.upVoted_comment2 %}
											{% ifintInstr newscomment2.id info.upVoted_comment2 %}	
												<div id='newscomment2;{{newscomment2.id}}' style='display:none' class='commentUpVote hand_over'></div>
												<div id='newscomment2;{{newscomment2.id}}' class='commentUpVoted hand_over'></div>
											{% else %}
												<div id='newscomment2;{{newscomment2.id}}' class='commentUpVote hand_over'></div>
												<div id='newscomment2;{{newscomment2.id}}' style='display:none' class='commentUpVoted hand_over'></div>
											{% endifintInstr %}
										{% else %}
											<div id='newscomment2;{{newscomment2.id}}' class='commentUpVote hand_over'></div>
											<div id='newscomment2;{{newscomment2.id}}' style='display:none' class='commentUpVoted hand_over'></div>
										{% endif %}
										{% if info.downVoted_comment2 %}
											{% ifintInstr newscomment2.id info.downVoted_comment2 %}
												<div id='newscomment2;{{newscomment2.id}}' style='display:none' class='commentDownVote hand_over'></div>
												<div id='newscomment2;{{newscomment2.id}}' class='commentDownVoted hand_over'></div>
											{% else %}
												<div id='newscomment2;{{newscomment2.id}}' class='commentDownVote hand_over'></div>
												<div id='newscomment2;{{newscomment2.id}}' style='display:none' class='commentDownVoted hand_over'></div>
											{% endifintInstr %}
										{% else %}
											<div id='newscomment2;{{newscomment2.id}}' class='commentDownVote hand_over'></div>
											<div id='newscomment2;{{newscomment2.id}}' style='display:none' class='commentDownVoted hand_over'></div>
										{% endif %}
									{% endfor %}
								</div></div>
								<div class="nailthumb-container commentAvatar-square-thumb pull-left MT_8px">							
									{% ifequal newscomment2.user.avatar 'img/avatar.png' %}									
										<a href="{{STATIC_URL}}img/avatar.png" data-lightbox='commentAvatar{{newscomment2.id}}' ><img src='{{STATIC_URL}}img/avatar.png'/></a>																	
									{% else %}									
										<a href="{{MEDIA_URL}}{{newscomment2.user.avatar}}" data-lightbox='commentAvatar{{newscomment2.id}}' ><img src='{{MEDIA_URL}}{{newscomment2.user.avatar}}'/></a>									
									{% endifequal %}
								</div>
							  </div>
							  <div class='col-md-10 col-xs-10' style='margin-right:9%;'>
									<div class='font-grey'><small><span id='{{newscomment2.user.id}}' class='hand_over {% if not need_log  %}ID_card{% else %}need_login{% endif %}'>{{newscomment2.user.nic_name}}</span>&nbsp;&nbsp;<span id='newscomment2Score_{{newscomment2.id}}' >{{newscomment2.score}}</span>赞同&nbsp;&nbsp;{% showNewsTime newscomment2 %}前</small></div>
									<div class='wordsColor'>{% autoescape off %}{{ newscomment2.words}}{% endautoescape %}</div>
									<div>
										<ul class='list-inline list-unstyled'>
											<li><a id='newscomment2;{{newscomment2.id}};{{newscomment2.gold}}' class='{% if user.is_authenticated %}giveGold{% else %}need_login{% endif %} font-grey hand_over'>
												<small><span id='newscomment2_goldNum_{{newscomment2.id}}'>{% ifnotequal newscomment2.gold 0 %}{{newscomment2.gold}}{% endifnotequal %}</span>镀金</small>&nbsp;
												</a>
											</li>
											<li><a id='newscomment2;{{newscomment2.id}}' class='{% if user.is_authenticated %}callReplyBtn{% else %}need_login{% endif %} font-grey hand_over'><small>回复</small></a></li>										
											{% if user.is_authenticated %}
												{% ifnotCommentVoted newscomment2 user %}
													<li class='newscomment2voteLi{{newscomment2.id}}'><small id='newscomment2;{{newscomment2.id}};1' class='commentVote font-orange hand_over'>赞</small></li>
													<li class='newscomment2voteLi{{newscomment2.id}}'><small id='newscomment2;{{newscomment2.id}};0' class='commentVote font-orange hand_over'>踩</small></li>
												{% else %}{% endifnotCommentVoted %}
											{% endif %}
										</ul>
									</div>
								</div>
							  <div id='newscomment2_{{newscomment2.id}}_reply'></div>
							</div>
							<hr class='clear_both comment_hr'/>
							{% if newscomment2.newscomment3_set.all %}
								<div class='newscomment3WholeDiv clear_both'>
								{% for newscomment3 in newscomment2.newscomment3_set.all %}
									<div class='clear_both left_line row'>
									  <div class='col-md-2 col-xs-2' style='margin-right:-9%;'>
										<div id='newscomment3voteDiv{{newscomment3.id}}' class='news_vote pull-left'>
										<div id='{{newscomment3.ups}};{{newscomment3.downs}};{{newscomment3.score}}' class='newsScoreInfo hand_over'>
											{% for info in user.user_info_set.all %}
												{% if info.upVoted_comment3 %}
													{% ifintInstr newscomment3.id info.upVoted_comment3 %}	
														<div id='newscomment3;{{newscomment3.id}}' style='display:none' class='commentUpVote hand_over'></div>
														<div id='newscomment3;{{newscomment3.id}}' class='commentUpVoted hand_over'></div>
													{% else %}
														<div id='newscomment3;{{newscomment3.id}}' class='commentUpVote hand_over'></div>
														<div id='newscomment3;{{newscomment3.id}}' style='display:none' class='commentUpVoted hand_over'></div>
													{% endifintInstr %}
												{% else %}
													<div id='newscomment3;{{newscomment3.id}}' class='commentUpVote hand_over'></div>
													<div id='newscomment3;{{newscomment3.id}}' style='display:none' class='commentUpVoted hand_over'></div>
												{% endif %}
												{% if info.downVoted_comment3 %}
													{% ifintInstr newscomment3.id info.downVoted_comment3 %}
														<div id='newscomment3;{{newscomment3.id}}' style='display:none' class='commentDownVote hand_over'></div>
														<div id='newscomment3;{{newscomment3.id}}' class='commentDownVoted hand_over'></div>
													{% else %}
														<div id='newscomment3;{{newscomment3.id}}' class='commentDownVote hand_over'></div>
														<div id='newscomment3;{{newscomment3.id}}' style='display:none' class='commentDownVoted hand_over'></div>
													{% endifintInstr %}
												{% else %}
													<div id='newscomment3;{{newscomment3.id}}' class='commentDownVote hand_over'></div>
													<div id='newscomment3;{{newscomment3.id}}' style='display:none' class='commentDownVoted hand_over'></div>
												{% endif %}
											{% endfor %}
										</div></div>
										<div class="nailthumb-container commentAvatar-square-thumb pull-left MT_8px">							
											{% ifequal newscomment3.user.avatar 'img/avatar.png' %}									
												<a href="{{STATIC_URL}}img/avatar.png" data-lightbox='commentAvatar{{newscomment3.id}}' ><img src='{{STATIC_URL}}img/avatar.png'/></a>																	
											{% else %}									
												<a href="{{MEDIA_URL}}{{newscomment3.user.avatar}}" data-lightbox='commentAvatar{{newscomment3.id}}' ><img src='{{MEDIA_URL}}{{newscomment3.user.avatar}}'/></a>									
											{% endifequal %}
										</div>
									  </div>
										<div class='col-md-10 col-xs-10' style='margin-right:9%;'>
											<div class='font-grey'><small><span id='{{newscomment3.user.id}}' class='hand_over {% if not need_log  %}ID_card{% else %}need_login{% endif %}'>{{newscomment3.user.nic_name}}</span>&nbsp;&nbsp;<span id='newscomment3Score_{{newscomment3.id}}' >{{newscomment3.score}}</span>赞同&nbsp;&nbsp;{% showNewsTime newscomment3 %}前</small></div>
											<div class='wordsColor'>{% autoescape off %}{{ newscomment3.words}}{% endautoescape %}</div>
											<div>
												<ul class='list-inline list-unstyled'>
													<li><a id='newscomment3;{{newscomment3.id}};{{newscomment3.gold}}' class='{% if user.is_authenticated %}giveGold{% else %}need_login{% endif %} font-grey hand_over'>
														<small><span id='newscomment3_goldNum_{{newscomment3.id}}'>{% ifnotequal newscomment3.gold 0 %}{{newscomment3.gold}}{% endifnotequal %}</span>镀金</small>&nbsp;
														</a>
													</li>
													<li><a id='newscomment3;{{newscomment3.id}}' class='{% if user.is_authenticated %}callReplyBtn{% else %}need_login{% endif %} font-grey hand_over'><small>回复</small></a></li>
													{% if user.is_authenticated %}
														{% ifnotCommentVoted newscomment3 user %}
															<li class='newscomment3oteLi{{newscomment3.id}}'><small id='newscomment3;{{newscomment3.id}};1' class='commentVote font-orange hand_over'>赞</small></li>
															<li class='newscomment3voteLi{{newscomment3.id}}'><small id='newscomment3;{{newscomment3.id}};0' class='commentVote font-orange hand_over'>踩</small></li>
														{% else %}{% endifnotCommentVoted %}
													{% endif %}
												</ul>
											</div>
										</div>
										<div id='newscomment3_{{newscomment3.id}}_reply'></div>
									</div>
									<hr class='clear_both comment_hr'/>
									{% if newscomment3.newscomment4_set.all %}
										<div class='newscomment4WholeDiv clear_both'>
										{% for newscomment4 in newscomment3.newscomment4_set.all %}
											<div class='clear_both left_line row'>
											  <div class='col-md-2 col-xs-2' style='margin-right:-9%;'>
												<div id='newscomment4voteDiv{{newscomment4.id}}' class='news_vote pull-left'>
												<div id='{{newscomment4.ups}};{{newscomment4.downs}};{{newscomment4.score}}' class='newsScoreInfo hand_over'>
													{% for info in user.user_info_set.all %}
														{% if info.upVoted_comment4 %}
															{% ifintInstr newscomment4.id info.upVoted_comment4 %}	
																<div id='newscomment4;{{newscomment4.id}}' style='display:none' class='commentUpVote hand_over'></div>
																<div id='newscomment4;{{newscomment4.id}}' class='commentUpVoted hand_over'></div>
															{% else %}
																<div id='newscomment4;{{newscomment4.id}}' class='commentUpVote hand_over'></div>
																<div id='newscomment4;{{newscomment4.id}}' style='display:none' class='commentUpVoted hand_over'></div>
															{% endifintInstr %}
														{% else %}
															<div id='newscomment4;{{newscomment4.id}}' class='commentUpVote hand_over'></div>
															<div id='newscomment4;{{newscomment4.id}}' style='display:none' class='commentUpVoted hand_over'></div>
														{% endif %}
														{% if info.downVoted_comment4 %}
															{% ifintInstr newscomment4.id info.downVoted_comment4 %}
																<div id='newscomment4;{{newscomment4.id}}' style='display:none' class='commentDownVote hand_over'></div>
																<div id='newscomment4;{{newscomment4.id}}' class='commentDownVoted hand_over'></div>
															{% else %}
																<div id='newscomment4;{{newscomment4.id}}' class='commentDownVote hand_over'></div>
																<div id='newscomment4;{{newscomment4.id}}' style='display:none' class='commentDownVoted hand_over'></div>
															{% endifintInstr %}
														{% else %}
															<div id='newscomment4;{{newscomment4.id}}' class='commentDownVote hand_over'></div>
															<div id='newscomment4;{{newscomment4.id}}' style='display:none' class='commentDownVoted hand_over'></div>
														{% endif %}
													{% endfor %}
												</div></div>
												<div class="nailthumb-container commentAvatar-square-thumb pull-left MT_8px">							
													{% ifequal newscomment4.user.avatar 'img/avatar.png' %}									
														<a href="{{STATIC_URL}}img/avatar.png" data-lightbox='commentAvatar{{newscomment4.id}}' ><img src='{{STATIC_URL}}img/avatar.png'/></a>																	
													{% else %}									
														<a href="{{MEDIA_URL}}{{newscomment4.user.avatar}}" data-lightbox='commentAvatar{{newscomment4.id}}' ><img src='{{MEDIA_URL}}{{newscomment4.user.avatar}}'/></a>									
													{% endifequal %}
												</div>
											  </div>
												<div class='col-md-10 col-xs-10' style='margin-right:9%;'>
													<div class='font-grey'><small><span id='{{newscomment4.user.id}}' class='hand_over {% if not need_log  %}ID_card{% else %}need_login{% endif %}'>{{newscomment4.user.nic_name}}</span>&nbsp;&nbsp;<span id='newscomment4Score_{{newscomment4.id}}' >{{newscomment4.score}}</span>赞同&nbsp;&nbsp;{% showNewsTime newscomment4 %}前</small></div>
													<div class='wordsColor'>{% autoescape off %}{{ newscomment4.words}}{% endautoescape %}</div>
													<div>
														<ul class='list-inline list-unstyled'>
															<li><a id='newscomment4;{{newscomment4.id}};{{newscomment4.gold}}' class='{% if user.is_authenticated %}giveGold{% else %}need_login{% endif %} font-grey hand_over'>
																<small><span id='newscomment4_goldNum_{{newscomment4.id}}'>{% ifnotequal newscomment4.gold 0 %}{{newscomment4.gold}}{% endifnotequal %}</span>镀金</small>&nbsp;
																</a>
															</li>
															{% if user.is_authenticated %}
																{% ifnotCommentVoted newscomment4 user %}
																	<li class='newscomment4voteLi{{newscomment4.id}}'><small id='newscomment4;{{newscomment4.id}};1' class='commentVote font-orange hand_over'>赞</small></li>
																	<li class='newscomment4voteLi{{newscomment4.id}}'><small id='newscomment4;{{newscomment4.id}};0' class='commentVote font-orange hand_over'>踩</small></li>
																{% else %}{% endifnotCommentVoted %}
															{% endif %}
														</ul>
													</div>
												</div>
												<div id='newscomment4_{{newscomment4.id}}_reply'></div>
											</div>
											<hr class='clear_both comment_hr'/>											
										{% endfor %}
										</div>
									{% endif %}								
								{% endfor %}
								</div>
							{% endif %}
						{% endfor %}
						</div>
					{% endif %}
				{% endfor %}
				</div>
			{% else %}
				<p id='noComment'>暂无评论</p>
			{% endif %}
		</div>
		<div id='{{this_news.id}}' class='form-group clear_both MT_20px'>
			<!--<small class='font-grey'>（提交后如果评论没有及时显现，刷新页面即可）</small></span>-->
			<div><textarea name='newsComment1Textarea' id='newsComment1Textarea' cols='80' rows='5' placeholder='说点什么吧'></textarea></div>
			<button id='{% if not need_log %}newsComment1Btn{% endif %}' class='button {% if need_log %}need_login{% endif %}'>提交</button>
			<span>
		</div>
			
	
	{% else %}
		<p>&nbsp;</p>
		<p class='text-center clear_both MT_8px'>登录后可对分享和评论进行投票，投票将决定排序。价值，由你定义！</p>
		<div class='MT_20px clear_both'>
			<p class='text-danger'>你太穷啦（易币数量为0）以至于无法评论或者查看评论……</p>
		</div>
		<div class='MT_40px'>
			<p class='text-center'>在设置里有一本神奇的小册子，那里藏有财富的秘密……</p>
		</div>
	{% endif %}
</div>
<div class='col-md-offset-1 col-md-3 col-xs-12 hidden-xs MT_30px'>
	<div id='partInfoDiv2' class='bcColorWhite'>
		<p><a class='font-333' href='/news/{{part.part}}/hot/'><strong>{{part.part}} / {{part.realPart}}</strong></a></p>
		<p>{% if not part.open%}（非公开的）{% endif %}{{part.description}}</p>
		{% ifnotequal part.part 'All' %}
			{% ifnotequal part.part 'MySubs' %}
				<p>{{part.user_num}}名读者&nbsp;&nbsp;&nbsp;
				{% for info in user.user_info_set.all %}
					{% if part.part in info.subscription %}
						<a id='{{part.part}}' class='subscriptionClick hand_over'>已订阅（点击取消）</a>
					{% else %}
						<a id='{{part.part}}' class='subscriptionClick hand_over'>未订阅（点击订阅）</a>
					{% endif %}
				{% endfor %}</p>
			{% endifnotequal %} 
		{% endifnotequal %}
	</div>
	
	{% if weekTopList %}
	<div id='weekTopDiv' class='clear_both bcColorWhite'>
		<p class='text-danger text-center'>本周最火</p>
		<ul class='list-unstyled'>
			{% for news in weekTopList %}
				<li class='form-inline clear_both'>
					<div class='pull-left MT_11px weekListFont'>
						<b>{{news.score}}</b>
					</div>
					<div id='' class='newsUpVoted pull-left'></div>
					<div class='pull-left MT_11px'><a href='/news/{{news.newspart.part}}/hot/showNews/{{news.id}}/' class='font-333'>
						&nbsp;&nbsp;{{news.title|truncatechars:16}}</a>
					</div>
				</li>
				<hr class='MT_0px MB_0px clear_both'/>
			{% endfor %}
			<li>&nbsp;</li>
		</ul>
	</div>
	{% endif %}
	<div id='newCommentDiv' class='clear_both bcColorWhite'>
		<p class='text-danger text-center'>最新评论</p>
		<ul class='list-unstyled'>
			{% for comment in newComments %}
				{% if comment.news %}
				<a href='news/All/hot/showNews/{{comment.news.id}}/#newscomment1;{{comment.id}}' class='newcommentLink'>
				{% else %}
				<a href='news/All/hot/showNews/{{comment.newscomment1.news.id}}/#newscomment2;{{comment.id}}' class='newcommentLink'>
				{% endif %}
				<div class='newscommentDiv2'>
					<div><small class='font-grey'>
						{{comment.user.nic_name }}&nbsp;在{% if comment.news %}《{{ comment.news.title| truncatechars:15 }}》评论：
						{% else %}《{{ comment.newscomment1.news.title| truncatechars:15 }}》评论：{% endif %}
					</small></div>
					<div class='newcommentWordsDiv'>
						{% autoescape off %}{{comment.words}}{% endautoescape %}
					</div>
				</div>
				</a>
			{% endfor %}
			<li>&nbsp;</li>
		</ul>
	</div>
	<div id='submitBtnDiv' class='clear_both'>
		{% ifnotequal part.part 'ExplainCY' %}
			{% if part.can_link %}
			<div id='linkBtnDiv' class='both_clear'>						
				<a href='/news/{{part.part}}/submit/link/' class='btn btn-default'><span class='font-link'>
				{% ifequal part.part 'AskAnything' %}
				&nbsp;&nbsp;&nbsp;以链接的形式提问&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				{% else %}
				&nbsp;&nbsp;&nbsp;分享一个新链接&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endifequal %}</span></a>
				
			</div>
			{% endif %}
			{% if part.can_text %}
			<div id='textBtnDiv' class='both_clear'>								
				<a href='/news/{{part.part}}/submit/text/' class='btn btn-default'><span class='font-link'>
					{% ifequal part.part 'ReportCY' %}&nbsp;&nbsp;&nbsp;举报或者反馈bug&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					{% else %}
						{% ifequal part.part 'SuggestCY' %}任何的意见和建议（包括申请新的板块）
						{% else %}
							{% ifequal part.part 'AskAnything' %}
							&nbsp;&nbsp;&nbsp;以文字的形式提问&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							{% else %}
							&nbsp;&nbsp;&nbsp;分享一篇文章/日志&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							{% endifequal %}
						{% endifequal %}
					{% endifequal %}</span></a>
				
			</div>
			{% endif %}
			{% if part.can_pic %}
			<div id='picBtnDiv' class='both_clear'>	
				<a href='/news/{{part.part}}/submit/pic/' class='btn btn-default'><span class='font-link'>
				{% ifequal part.part 'AskAnything' %}
				&nbsp;&nbsp;
				以图片的形式发问&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				{% else %}
				&nbsp;&nbsp;
				分享图片&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endifequal %}</span></a>								
			</div>
			{% endif %}
			{% if part.can_mp3 %}
			<div id='mp3BtnDiv' class='both_clear'>								
				<a href='/news/{{part.part}}/submit/mp3/' class='btn btn-default'><span class='font-link'>&nbsp;&nbsp;
				分享音乐&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
				
			</div>
			{% endif %}
		{% else %}
			{% ifequal user.email 'you_xiang_123@sina.com' %}
				{% if part.can_link %}
				<div id='linkBtnDiv' class='both_clear'>									
					<a href='/news/{{part.part}}/submit/link/' class='btn btn-default'><span class='font-link'>&nbsp;&nbsp;&nbsp;分享一个新链接&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></a>								
				</div>
				{% endif %}
				{% if part.can_text %}
				<div id='textBtnDiv' class='both_clear'>								
					<a href='/news/{{part.part}}/submit/text/' class='btn btn-default'><span class='font-link'>
						{% ifequal part.part 'ReportCY' %}&nbsp;&nbsp;&nbsp;举报或者反馈bug&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						{% else %}
							{% ifequal part.part 'SuggestCY' %}任何的意见和建议（包括申请新的板块）
							{% else %}&nbsp;&nbsp;&nbsp;分享一篇文章/日志&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							{% endifequal %}
						{% endifequal %}</span></a>
					
				</div>
				{% endif %}
				{% if part.can_pic %}
				<div id='picBtnDiv' class='both_clear'>								
					<a href='/news/{{part.part}}/submit/pic/' class='btn btn-default'><span class='font-link'>&nbsp;&nbsp;
					分享一张图片&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
					
				</div>
				{% endif %}
			{% endifequal %}
		{% endifnotequal %}
	</div>
</div>
<div>
<script src="{{STATIC_URL}}kindeditor-4.1.10/kindeditor-min.js"></script>
<script charset="utf-8" src="{{STATIC_URL}}kindeditor-4.1.10/lang/zh_CN.js"></script>
<script src="{{STATIC_URL}}kindeditor-4.1.10/plugins/code/prettify.js"></script>

<script type="text/javascript"> 
    var csrfitems = document.getElementsByName("csrfmiddlewaretoken"); 
    var csrftoken = ""; 
    if(csrfitems.length > 0) 
    { 
        csrftoken = csrfitems[0].value; 
    } 
         
    var editor ; 
    KindEditor.ready(function(K) {  
        var options = {  
            cssPath : ('{{STATIC_URL}}kindeditor-4.1.10/themes/default/default.css', 
                       '{{STATIC_URL}}kindeditor-4.1.10/plugins/code/prettify.css'), 
            width : '680px',  
            height : '400px',  
            filterMode : true, 
            uploadJson : K.undef('/upload/'), 
            extraFileUploadParams : { 
                csrfmiddlewaretoken:csrftoken 
            } 
       };  
        editor = K.create('textarea[name="newsComment1Textarea"]',{
		items : [		 
			'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
			'italic', 'underline', 'strikethrough', 'removeformat', '|','emoticons','code','|','justifyleft', 'justifycenter', 'justifyright',
			'justifyfull', 'insertorderedlist', 'insertunorderedlist','|', 'subscript',
			'superscript', '|', 'table', 'hr',  'link']	
		});  
		prettyPrint();
	});
	KindEditor.options.cssData = 'body { font: 14px "Microsoft YaHei","Microsoft YaHei UI";}';
	 
</script>

{% endblock %}


{% block moreJs %}
	{% if not user.is_authenticated %}
	<script type="text/javascript">
		QC.Login({
		   btnId:"qqLoginBtn2"    //插入按钮的节点id
	});
	</script>
	{% endif %}
{% endblock %}
