{% extends 'jfu/upload_form.html' %}

{% block CSS_BOOTSTRAP %}
<link rel="stylesheet" href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css">
<link href="{{STATIC_URL}}css/bodyFont.css" rel="stylesheet" media="screen">
{% endblock %}

{% block myForm %}{% endblock %}

{% block moreData %}
{ name: "type", value: "{{type}}"},
{ name: "id", value: "{{id}}"},
{% endblock %}

{% block moreDeleteData %}
,"type":"{{type}}","id":"{{id}}"
{% endblock %}

{% block moreCss %}
<link rel="stylesheet" href="{{STATIC_URL}}css/uploadPic.css">
{% endblock %}

{% block JS_OPTS %}
	sequentialUploads: true,
	{% ifequal type 'pic' %}
	acceptFileTypes: /(\.|\/)(png|gif|jpe?g)$/i
	{% endifequal %}
	{% ifequal type 'mp3' %}
	acceptFileTypes: /(\.|\/)(mp3)$/i
	{% endifequal %}
{% endblock %}



{% block JS_BOOTSTRAP %}
<script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
{% endblock %}

{% block JS_JQUERY %}
{% comment %}
 jQuery 
{% endcomment %}
<script src="{{STATIC_URL}}js/jquery.js"></script>
{% endblock %}