<div class='RuleDiv'>
	<p class='hand_over RuleP'><b>Ⅱ. Rules of sharing</b></p>
	<div style='display:none;'>
		<p>①Only English here.The title,link,text and your words……All of them should in English </p>
		<p>②In most cases,Chinese pinyin is not allowed here</p>
		<p>②Every time you broke rules,you will be fined at least 100 yibi</p>
	</div>
</div>
<div class='RuleDiv'>
	<p class='hand_over RuleP'><b>Ⅱ. Rules of replying</b></p>
	<div style='display:none;'>
		<p>①Follow&nbsp;<b>Fangqiu Rules</b></p>
	</div>
</div>