{% extends 'base.html' %}
{% load my_tags %}

{% block title %}
个人中心 - 大学易
{% endblock %}


{% block mainbody %}
<div id='center_left_div'>
    <ul class="nav nav-tabs" id="centerTab">
	  {% if user.is_student %}<li class="active"><a href="#center_my" data-toggle="tab">我的</a></li>{% endif %}
	  <li><a href="#center_settings" data-toggle="tab">设置</a></li>
	  <li><a href="#center_book" data-toggle="tab">小册子</a></li>
	</ul>

	<div class="tab-content">
	  {% if user.is_student %}
	  <div class="tab-pane active" id="center_my">
		  <div class='straight_div'>
			<p class='font-15 text-center'>
				直达
				<a href='#my_Storedata_div' class='straight'>#我的收藏</a>
				<a href='#my_data_div' class='straight'>#我的资产</a>
				<a href='#my_download_div' class='straight'>#我的下载</a>
			</p>
		  </div>
		  
		<div id='my_Storedata_div' class='panel panel-info'>
			<div id='heading_my_Storedata' class="panel-heading">我的收藏</div>                              
			<div class="panel-body">
				{% if my_storeEot %}                
					<table class='table table-bordered'>
						<tr>
							<th></th>
							<th>课程</th>
							<th>任课老师</th>
							<th>课程评分</th>
							<th>教师评分</th>
							<th>期末平均分</th>
						</tr>
						{% for eot in my_storeEot %}
							<tr>
								<td>
									<a data-toggle="tooltip" title="取消收藏，不可恢复！" href='/center/delStore/{{eot.id}}/'>
									<span class="glyphicon glyphicon-trash"></span>
									</a>
								</td>
								<td>
									<a href='/eot/showeot/{{eot.id}}/'>{{eot.course}}</a>
								</td>
								<td>
									{{eot.teacher}}
								</td>
								<td>
									{{eot.course_avg_score|floatformat}}
								</td>
								<td>
									{{eot.teacher_avg_score|floatformat}}
								</td>
								<td>
									{{eot.history_avg_score|floatformat}}
								</td>
							</tr>
						{% endfor %}
					</table>
					<div class='pull-right'>
					   <ul class="pagination">
						{% if my_storeEot.has_previous %}                           
							<li><a href="?page={{ my_storeEot.previous_page_number }}#heading_my_Storedata">&lt; 上一页</a></li>                           
						{% endif %}                           
							{% for p in my_storeEot_page_range %}
								
								{% ifequal p my_storeEot.number %}
									 <li><span class="current">{{p}}</span></li>
								{% else %}
									<li><a href="?page={{p}}#heading_my_Storedata" title="第{{p}}页">{{p}}</a></li>
								{% endifequal %}
								
							{% endfor %}
							
						{% if my_storeEot.has_next %}
							<li><a href="?page={{ my_storeEot.next_page_number }}#heading_my_Storedata">下一页 &gt; </a></li>
						{% endif %}
							<li><a >[第{{ my_storeEot.number }}/{{ my_storeEot.paginator.num_pages }}页]</a></li>
					  </ul>
				  </div>
				
				{% else %}
					<p class='text-info text-center'>你还没有收藏任何课程。没到选课时间，看到喜欢课程，收藏先！</p>
				{% endif %}
				
			</div>       
		</div>
		<div id='my_property_div' class='panel panel-info'>
			<div id='heading_my_data' class="panel-heading">我的资产</div>                              
			<div class="panel-body">
				{% if my_Eotdata %}                
					<table class='table table-bordered'>
						<tr>
							<th>资料主题</th>
							<th>相关课程</th>
							<th>定价</th>
							<th>上传时间</th>
							<th>累计收益</th>
						</tr>
						{% for data in my_Eotdata %}
							<tr>
								<td>
									<a href='/eot/showcomment/{{data.id}}/'>{{data.title}}</a>
								</td>
								<td>
									<a href='/eot/showeot/{{data.eot.id}}/'>{{data.eot.course}}</a>
								</td>
								<td>
									{{data.price_num}}
								</td>
								<td>
									{{data.upload_time|date:'Y-m-d'}}
								</td>
								<td>
									{{data.profit}}
								</td>
							</tr>
						{% endfor %}
					</table>
					<div class='pull-right'>
					   <ul class="pagination">
						{% if my_Eotdata.has_previous %}                           
							<li><a href="?page={{ my_Eotdata.previous_page_number }}#heading_my_data">&lt; 上一页</a></li>                           
						{% endif %}                           
							{% for p in my_Eotdata_page_range %}
								
								{% ifequal p my_Eotdata.number %}
									 <li><span class="current">{{p}}</span></li>
								{% else %}
									<li><a href="?page={{p}}#heading_my_data" title="第{{p}}页">{{p}}</a></li>
								{% endifequal %}
								
							{% endfor %}
							
						{% if my_Eotdata.has_next %}
							<li><a href="?page={{ my_Eotdata.next_page_number }}#heading_my_data">下一页 &gt; </a></li>
						{% endif %}
							<li><a >[第{{ my_Eotdata.number }}/{{ my_Eotdata.paginator.num_pages }}页]</a></li>
					  </ul>
				  </div>
				
				{% else %}
					<p class='text-info text-center'>你还没有上传任何资料。马上上传，坐等收益，变身土豪！</p>
				{% endif %}
				
			</div>       
		</div>
		<div id='my_download_div' class='panel panel-info'>
			<div id='heading_my_download' class="panel-heading">我的下载</div>
			<div class="panel-body">
			{% if download_Eotdata %}
				<table class='table table-bordered'>
					<tr>
						<th>资料主题</th>
						<th>相关课程</th>
						<th>花费</th>                         
					</tr>
					{% for data in download_Eotdata %}
					<tr>
						<td><a href='/eot/showcomment/{{data.id}}/'>{{data.title}}</a></td>
						<td><a href='/eot/showeot/{{data.eot.id}}/'>{{data.eot.course}}</a></td>
						<td>{{data.price_num}}</td>
					</tr>
					{% endfor %}
				</table>
				<div class='pull-right'>
				   <ul class="pagination">
					{% if download_Eotdata.has_previous %}                           
						<li><a href="?page={{ download_Eotdata.previous_page_number }}#heading_my_download">&lt; 上一页</a></li>                           
					{% endif %}                           
						{% for p in download_Eotdata_page_range %}                              
							{% ifequal p download_Eotdata.number %}
								 <li><span class="current">{{p}}</span></li>
							{% else %}
								<li><a href="?page={{p}}#heading_my_download" title="第{{p}}页">{{p}}</a></li>
							{% endifequal %}
							
						{% endfor %}
						
					{% if download_Eotdata.has_next %}
						<li><a href="?page={{ download_Eotdata.next_page_number }}#heading_my_download">下一页 &gt; </a></li>
					{% endif %}
						<li><a >[第{{ download_Eotdata.number }}/{{ download_Eotdata.paginator.num_pages }}页]</a></li>
				  </ul>
			  </div>
				
			{% else %}
				<p class='text-info text-center'>你还没有下载任何资料。去找找，复习考试 So easy！</p>
			{% endif %}
		   </div>       
		</div>
	  </div>
	  {% endif %}
	  <div class="tab-pane" id="center_settings">
		  <div class='straight_div'>
			<p class='font-15 text-center'>
				直达
				{% judgeStudent user %}<a href='#set_switchModel' class='straight'>#切换模式</a>{% else %}{% endjudgeStudent %}
				<a href='#set_avatar' class='straight'>#头像</a>
				<a href='#set_nicname' class='straight'>#昵称</a>
				<a href='#set_ID' class='straight'>#身份卡</a>
				<a href='#set_autoReply' class='straight'>#自动回复</a>
			</p>
		  </div>
			<table class='table table-bordered'>	
				{% judgeStudent user %}
				<tr><th class='text-center' colspan='2'>切换模式</th></tr>
					{% if user.is_student %}
					<tr>
						<td>当前为大学生模式</td>
						<td><a href='/center/switchModal/'>切换为主模式</a></td>
					</tr>
					{% else %}
					<tr>
						<td>当前为主模式</td>
						<td><a href='/center/switchModal/'>切换为大学生模式</a></td>
					</tr>
					{% endif %}		
				{% else %}
				{% endjudgeStudent %}	
				<tr><th colspan='2'>&nbsp;</th></tr>
				<tr id='set_avatar'>
				<th class='text-center' colspan='2'>设置头像</th>
				</tr>		
				<tr>
					<td id='avtar_td'>
						{% ifequal user.avatar 'img/avatar.png'%}
							 <img src='{{STATIC_URL}}img/avatar.png'  height="200" class="img-circle" alt='用户头像'/>                         
						{% else %}
							 <img src='{{MEDIA_URL}}{{user.avatar}}'  height="200" class="img-circle" alt='用户头像'/>
						{% endifequal %}
					</td>
					<td class='text-center'>
						<form id='center_avatar_form' class='form-group' action='/center/uploadavatar/' enctype="multipart/form-data" method='POST'> 
							{% csrf_token %}
							<table>
								{{ form.as_table }}
							</table>                           
							<button class="btn btn-default" id='' type="submit">提交</button>
						</form> 
					</td>
				</tr>
				<tr><th colspan='2'>&nbsp;</th></tr>
				<tr id='set_nicname'><th class='text-center' colspan='2'>设置昵称</th></tr>
				<tr>
					<td>当前昵称：<span id='center_name'>{{user.nic_name}}</span></td>
					<td>
						<div class='form-inline'>
						<input id='nic_name_input' type="text"  class='' name='nic_name' placeholder="10字以内" required>
						<button  id='change_nicname_btn' type="button" class="btn btn-success " >确认更改</button>
						</div>
					</td>
				</tr>
				<tr><th colspan='2'>&nbsp;</th></tr>
				<tr id='set_ID'><th class='text-center' colspan='2'>设置易卡</th></tr>
				<tr><td>易卡</td><td>更改设置</td></tr>
				<tr>
					<td colspan='2'>
						<table class='table table-bordered'>							
							<tr>
								<th><p class='text-left'>昵称</p></th>
								<td>{{user.nic_name}}</td>
								<td>默认显示</td>								
							</tr>
							<tr>
								<th><p class='text-left'>个性签名</p></th>
								<td>{% for info in user.user_info_set.all %}<p id='center_sign'>{{info.sign}}</p>{% endfor %}</td>
								<td><div class='form-inline'>
									<textarea id='sign_textarea' rows="2" cols="40" placeholder="" required></textarea>
									<button  id='change_sign_btn' type="button" class="btn btn-success " >确认更改</button>
									</div>
								</td>
							</tr>
							<tr><th><p class='text-left'>邮箱</p></th><td>{{user.email}}</td>
								<td>{% for info in user.user_info_set.all %}
									{% if info.show_email %}<p id='change_showEmail' class='hand_over font-color-link'>当前为显示（点击更改）</p>
									{% else %}<p id='change_showEmail' class='hand_over font-color-link'>当前为不显示（点击更改）</p>{% endif %}
									{% endfor %}
								</td>
							</tr>
							<tr>
								<th><p class='text-left'>财富/等级</p></th>
								<td>{{user.money}} 易币 / {% for info in user.user_info_set.all %}{{ info.grade }}{% endfor %}</td>
								<td>默认显示</td>
							</tr>
							<tr>
								<th><p class='text-left'>勋章</p></th>
								<td>{% if user.honour_set.all %}{% for honour in user.honour_set.all %}
									<img width='20px' src='{{STATIC_URL}}img/honour/{{honour.img}}' data-toggle="tooltip" title="{{honour.info}}" class='tooltip_th'/>
									{% endfor %}{% else %}还没有获取任何勋章哦！{% endif %}
								</td>
								<td>默认显示</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr><th colspan='2'>&nbsp;</th></tr>
				<tr id='set_autoReply'><th class='text-center' colspan='2'>设置自动回复</th></tr>
				{% for info in user.user_info_set.all %}
				<tr>
					<td><p class='pull-left'>当分享被镀金时：</p>
					<P class='clear_both'><span id='center_whenNewsbeGold'>{{info.when_newsbeGold}}</span></p></td>
					<td>
						<div class='form-inline'>
						<textarea id='whenNewsbeGold_inqut' rows="2" cols="40" placeholder="" required></textarea>
						<button  id='change_whenNewsbeGold_btn' type="button" class="btn btn-success " >确认更改</button>
						</div>
					</td>
				</tr>
				<tr>
					<td><p class='pull-left'>当评论被镀金时：</p>
					<p class='clear_both'><span id='center_whenCommentbeGold'>{{info.when_commentbeGold}}</span></p></td>
					<td>
						<div class='form-inline'>
						<textarea id='whenCommentbeGold_inqut' rows="2" cols="40" placeholder="" required></textarea>
						<button  id='change_whenCommentbeGold_btn' type="button" class="btn btn-success " >确认更改</button>
						</div>
					</td>
				</tr>
				<tr>
					<td><p class='pull-left'>当被关注时：</p>
					<p class='clear_both'><span id='center_beWatched'>{{info.when_beWatched}}</span></p></td>
					<td>
						<div class='form-inline'>
						<textarea id='Watched_inqut' rows="2" cols="40" placeholder="" required></textarea>
						<button  id='change_beWatched_btn' type="button" class="btn btn-success " >确认更改</button>
						</div>
					</td>
				</tr>
				{% endfor %}
			</table>
		 
	  </div>
	  <div class="tab-pane" id="center_book">
	  <P class='text-center'>一本神奇的小册子</p>
	  <p>最重要的事</p>
	  <P><ul>
	  <li>阅读方遒公约，那不是摆设，违反方遒公约将被禁号</li>
	  <li>阅读各社群公约，对于你不熟悉的社群，你应该浏览一下社群公约，以免被莫名地罚掉100或者更多的易币</li>
	  </ul></p>
	  
	  <P>易币都去哪儿啦</p>
	  <P><ul><li>每当你对分享进行“顶”或“沉”操作时，你将花费5个易币</li>
	  <li>例外1：对每个社群的【最新】板块的分享进行“顶”或“沉”操作时，你将获得3个易币</li>
	  <li>例外2：对【易汇报】【易建议】【易反馈】的分享进行“顶”或“沉”操作时，你将获得5个易币</li>
	  <li>上述两条可叠加</li></ul></p>
	  
	  <p>致富之路</p>
	  <p><ul><li>分享链接将获得6个易币，分享文章、图片、音乐将获得10个易币</li>
	  <li>精彩的分享和回复可能会得到镀金，镀金可无限叠加</li></ul></p>
	  
	  <p>创建社群</p>
	  <p><ul><li>如果你想创建一个社群，你可以在【易建议】发帖，或者加入进阶群151198636说明</li>
	  <li>创建一个社群，你仅需要准备社群中文名、社群英文名（可选）和若干规则说明（可选）。只要不和现有社群百分百重合，
	  都可以迅速通过</li>
	  <li>一般的，地域性、私人性质较强的宜为隐藏社群，秘密性较强的可以申请私密社群（暂时未开放）</li>
	  <li>公开社群的所有分享将被自动收录到【All/全部】，公开群可能会被展示在【方遒首页】，会被展示在【更多+】中</li>
	  <li>隐藏社群的所有分享都不会被收录到【All/全部】，隐藏群不会被展示在【方遒首页】，会被展示在【更多+】中</li>
	  <li>私密社群的所有分享都不会被收录到【All/全部】，隐藏群不会被展示在【方遒首页】，也不会被展示在【更多+】中</li>
	  </p>
	  </div>
	</div>
</div>
<div id='center_right_div'>
</div>

{% endblock %}